
<html ng-app=""></html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
  <title>量子回溯(QHHT)</title>
  <link href="./stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
  <link href="./stylesheets/print.css" media="print" rel="stylesheet" type="text/css"/>
  <!--if IE
  link(href='./stylesheets/ie.css', media='screen, projection', rel='stylesheet', type='text/css')
  
  
  -->
</head>
<body> <a name="head"></a>
  <nav><a href="#head">回家</a></nav>
  <div id="ribbon">
    <div class="left"></div>
    <div class="right"></div>
  </div>
  <div id="intro">
    <h1>量子催眠回溯 {{test}}</h1>
    <h3>Quantum Hypnotic Healing Therapy</h3>
    <h4>Orignally invented by Doreles Canon</h4>
    <div class="know">
      <p>此兩篇量子催眠回溯療法（QHHT）逐字稿與有緣人分享，<br/>再次強調每個人都是獨一無二，<br/>你有你正在尋找的一切答案。<br/>我們與愛一直都是連結著的，一切祝福：）</p>
      <p>*逐字稿內容皆經當事人同意分享。</p>
      <p>*欲瞭解量子催眠回溯療法系統，請上創始人<a href="http://www.dolorescannon.com/">朶洛莉絲</a>網站，
        或閱讀宇宙花園出版之朵洛莉絲著作，包括《地球守護者》、《三波志願者與新地球》、《迴旋宇宙》等書，
        以及朶洛莉絲女兒茱莉亞所著的《靈魂在說話》</p>
      </p>
      <p>*如有身心病痛困擾者，<br/>建議先閱讀《靈魂在說話》與自我對話。</p>
      <p>有意體驗量子回溯催眠療法，請直接聯絡宇宙花園出版社，由出版社進一步提供台灣服務者名單。</p>
    </div>
  </div>
  <div id="main" ng-init="switch = 1; start = 0">
    <div id="control-port"><a ng-click="switch = 1; start = 1" ng-class="{active: switch == 1}">第一篇</a><a ng-click="switch = 2; start = 1" ng-class="{active: switch == 2}">第二篇</a></div>
    <div ng-class="{open: switch == 2 &amp;&amp; start, move1: switch == 1}" class="recorder">
      <p>量子催眠分享：宇宙的秩序</p>
      <p>日期：103年3月下旬</p>
      <p>體驗者：W </p>
      <p>引導者：Hsinyi Chiu(H)</p>
      <p> 潛意識：S</p>
      <hr/>
      <p>W在外太空，在飛碟裡觀察地球。</p>
      <p>H：發生了什麼事？</p>
      <p>W：發生擾動，我們在這裡觀察。</p>
      <p>H：飛碟裡除了你，還有其他的存在嗎？ </p>
      <p>W：有。</p>
      <p>H：可以多說一些你們要做的事情嗎？ </p>
      <p>W：沒有什麼特別的，我們只是發現發生擾動，所以觀察。</p>
      <p>H：擾動是什麼意思？ </p>
      <p>W：擾動就是擾動。</p>
      <p>H：是指比較浮亂嗎？ </p>
      <p>W：就是沒有在非常平順的秩序底下運轉，這就是擾動。</p>
      <p>H：為什麼你們在這裡觀察？有其他存在請你們來觀察嗎？ </p>
      <p>W：因為有擾動，我們就來了。</p>
      <p>H：從別的星球來嗎？從哪裡來到這裡觀察地球？ </p>
      <p>W：不是。我們從不同的次元來。</p>
      <p>H：你們彼此間來自不同的次元？ </p>
      <p>W：不，我們從同一個地方來，但我們跟地球不是在同個區裡。</p>
      <p>H：那個次元有星球嗎？ </p>
      <p>W：不需要星球。</p>
      <p>H：那你們怎麼從那裡過來？ </p>
      <p>W：我們有飛碟，在那個地方，可以重新組織物質，把它變成不同的東西，所以我們不需要處在同一個星球上，我們不需要在星球上建立工廠，完全不是這樣。</p>
      <p>H：你們直接把能量轉換成需要的形態？ </p>
      <p>W：我們把能量跟物質轉換成需要的形態，然後就來了，就可以到宇宙任何一個地方。</p>
      <p>H：你們平常存在時都在做什麼？ </p>
      <p>W：我們在秩序之中，我們不需要特別做什麼，你知道，當你說做什麼的時候，通常就是你想要違反一個秩序，我們沒有要違反秩序，我們在秩序之下。</p>
      <p>H：所以你們有的時候是沒有形體的，需要的時候就可以用能量和物質產生形體？ </p>
      <p>W：可以這麼說。對。</p>
      <p>H：現在在飛碟裡，你們有形體嗎？ </p>
      <p>W：可以是有也可以沒有，看需不需要。</p>
      <p>H：在這樣的次元，你們這樣的狀態，怎樣的文字是適合的描述？ </p>
      <p>W：這是一個充滿秩序的世界。</p>
      <p>H：你們彼此之間有個別的意識嗎？ </p>
      <p>W：個別？可以說有。但我們中間的整合是很有秩序的。</p>
      <p>H：怎麼整合？ </p>
      <p>W：連在一起。</p>
      <p>H：可以有個別的經驗，也可以連在一起整合？ </p>
      <p>W：對。因為如此的有秩序才可以去凝聚物質跟能量，創造出實體來，某種程度來講，我們就是造物者。</p>
      <p>H：你們在那個次元感覺到地球的擾動？（對。）有一部分的存在想要過來看看，是這樣嗎？</p>
      <p>W：當你說想要的時候，就牽涉到一些違背秩序的意念。我們應該過來看看。</p>
      <p>H：「應該要過來看」，這個措辭就沒有違反秩序，因為秩序就是應該要過來看？ </p>
      <p>W：是的。在秩序裡，我們只有應該，我們沒有特別的意圖。</p>
      <p>H：你們有感受嗎？</p>
      <p>W：我們不需要，我們是秩序。當然我們具有感知的能力，但我們感知的方式，或者說它跟你們地球人說的感受是很不一樣的。我們可以感覺到一些情緒或者擾動，這些都有，但那跟地球人的感受是不同的。</p>
      <p>H：你可以多說說那個次元的一切嗎？你感覺到的、可以表達的。 </p>
      <p>W：一切都是很有秩序的。應該說一切都是秩序，可以這麼說。</p>
      <p>H：那邊有星球或是物質... </p>
      <p>W：沒有。星球是被我們創造出來的。</p>
      <p>H：（你們）是像太空中的氣體那樣的能量存在嗎？ </p>
      <p>W：不是，是另一個次元。能量也是我們所整合或者運用的媒材。如果你要說媒材也好。</p>
      <p>H：你們可以有形體，也可以沒有，你們的存在就是秩序。 </p>
      <p>W：對。</p>
      <p>H：不需要有土地啊之類的… </p>
      <p>W：都不需要，那些東西都是創造出來的，我們不需要。</p>
      <p>H：你們就是存在那個次元裡？ </p>
      <p>W：我們在那邊演化跟創造。</p>
      <p>H：如果你們有的離開去體驗，會有其他的進到這次元裡嗎？</p>
      <p>W：這麼說是不對的，應該是說，在這裡面，有一些部分他希望將自己具體化，而這個具體化是比較長的一段時間，而他應該把自己具體化這麼長的一段時間，他就不應該能夠維持原本的創造力。</p>
      <p>H：他要做一個選擇？</p>
      <p>W：也不用選擇，他就是很單純的就去做了更有距離的具體化。在飛碟裡就是比較沒有距離的具體化，因為隨時都可以回到沒有形式的情況，但如果要變成一個人或 野獸什麼的東西，就是距離比較遠的具體化，距離比較遠的具體化，它會喪失跟秩序完全的連結，但它可以產生多樣性，這些東西在我們的詞彙裡，稱之為自由意志。我們想要透過自由意志，來使得這世界的演化有更豐富的可能。</p>
      <p>H：透過自由意志來使演化有更豐富的可能？（對。）所以有的去選擇做這樣的體驗？</p>
      <p>W：不是，是有一些部分它應該被設定為具有自由意志，並且暫時遠離造物的、創造的這個秩序當中。</p>
      <p>H：你剛剛說他應該有自由意志，那有的被設定成沒有自由意志嗎？ </p>
      <p>W：事實上，我們在這個大的造物的創造體裡面，是沒有自由意志的。</p>
      <p>H：因為你們是連成一體的？ </p>
      <p>W：或者說我們的自由意志是，只有一體的自由意志，而這個自由意志並不是很隨便的，是很有秩序，如果用你們的話來講，是在計算當中。</p>
      <p>H：計算什麼？ </p>
      <p>W：數學。如果用人類的話來講，是一種數學，對。</p>
      <p>H：所以這跟自由意志無關。</p>
      <p>W：對，一般我們所謂自由意志，是指個體的自由意志，當他們被分派到做個體的自由意志，他就脫離了跟另一個次元的秩序完整的連結，可以這麼說。</p>
      <p>H：那些被派去做自由意志體驗的，要怎麼回到秩序，就是那個，數學的狀態？ </p>
      <p>W：機會不大。</p>
      <p>H：他直接回到光的、生命的源頭中？</p>
      <p>
        W：你是說源頭？源頭是我們創作的來源，所以這些自由意志當他變成光，到源頭的時候，在這個創作的管道當中，他們可能變成其他的形體，但他會不會從源頭回到我們整個大體的秩序當中，這件事情我們可以說是，也可以說不是。
        因為大體的秩序從來就沒有分裂過，而是我們判斷有部分應該要有是屬於比較豐富跟多樣的，所以我的意思是，在不同的次元和宇宙，並不是兩個完全獨立的次元或世界，是在一個大的整體之中的。
      </p>
      <p>H：你們感覺到地球的擾動，有一部分來到這附近做觀察，這是你們應該做的。 </p>
      <p>W：對，但是我們具體化的過程，就是要從源頭去取得光，具體化。</p>
      <p>H：像材料的組合那樣？（對。）你們從那個次元到源頭取得具體化的.. </p>
      <p>W：各式的能量或物質，一些材料，然後就具體化了。</p>
      <p>H：如果你們不坐太空船，可以直接成為外太空氣體、能量的形態過去觀察地球嗎？</p>
      <p>W：怎麼說呢，我們可以穿越空間的移動，但我們之所以能夠穿越空間移動，並不是說我們移動得很快，而是我們可以把能量和物質集中在一個地方，然後從那裡出現，是這個意思。</p>
      <p>H：那為什麼還要有飛碟？你們可以直接... </p>
      <p>W：我們出現在那裡需要有個形體，飛碟這個形體是比較，嗯，容易的。</p>
      <p>H：比成為外太空的氣體觀察地球還要容易？</p>
      <p>W：對，因為飛碟有很多好處，當它具體化有很多好處，它可以飛得很平穩，可以停留在原地不動，它在局部的空間要移動也很快，因為我們並不希望每次的移動都要把物質拆解開來、再重新出現一次這樣。</p>
      <p>H：這會消耗能量嗎？ </p>
      <p>W：這沒有效率。</p>
      <p>H：你們在這裡觀察地球的擾動，觀察到什麼，是想要做些什麼嗎？ </p>
      <p>W：我們想要調整參數。</p>
      <p>H：調整參數？可以多說一些嗎？</p>
      <p>W：這個事情牽涉到好幾個變數，它有好多東西可以調整，當然我們不能直接去把這個星球爆破或摧毀掉，這個是很...還沒有必要，也很不好。所以在那麼危險之前，我們可以調整參數，例如要輸送進來的光的方向跟量，這是主要調整的部分。</p>
      <p>H：你們調整參數後，怎麼讓這些光輸送進來？</p>
      <p>W：我們要對於一些輸送...我想要講輸送器，但這可能產生誤會，就是有些訊息的輸送器，可是它不是在你所謂現在宇宙同一個次元當中的，它是屬於另一個次元的東西，有輸送器、過濾器、其他的東西...你可以賦予它們形象，但它們並不完全就是同個次元的東西。</p>
      <p>H：從不同次元傳送光到地球？（對。）那怎麼讓那些地方知道要傳送光？</p>
      <p>W：說「知道」好像有點太意志了，它不是那麼意志的事情，就是個調整，光就進去了。我們還有個目標，是尋找破壞者的來源，因為有些事情是我們本來在計算時，並沒有完全算得很清楚的。</p>
      <p>H：那些擾動跟破壞的來源有關？ </p>
      <p>W：簡單的說，我們本來的計算裡面，並沒有包含那些自由意志的產物能夠回到更高的次元來進行破壞這個可能性。</p>
      <p>H：更高的次元是指地球嗎？</p>
      <p>W：不，是破壞我們更高次元的那些過濾器...我們本來認為我們是在更高的位置，只有我們自己可以調整這些東西，這些在宇宙中的被造物，是不可能回過頭來調整、破壞這些東西。</p>
      <p>H：你們發現這個情況，然後你們做了什麼呢？ </p>
      <p>W：嗯...我們正在計算要怎麼做。</p>
      <p>H：他們是機器嗎？有什麼措辭適合他們？有生命嗎？ </p>
      <p>W：不是機器，有生命，如果用地球的詞彙可以說是邪靈之類的。</p>
      <p>H：他們是被誰製造出來的？ </p>
      <p>W：也是被我們製造出來的。</p>
      <p>H：你們為什麼要製造... </p>
      <p>W：我們沒有要製造，應該說，在製造的過程就賦有自由意志，他們在自由意志的演化當中，產生了一些，在我們來說不是很好的結果。</p>
      <p>H：所以這是一個自由意志？</p>
      <p>W：對，但我們本來沒想到在這個自由意志的範圍，還可以產生這麼大的力量，以至於到別的次元去產生破壞，這是我們沒有想到的。我們認為這個實驗應該是在一個限定的範圍內，看起來有些東西超過這個範圍，有些東西要重新處理了。</p>
      <p>H：你們原本以為是在一個限定的範圍內，但現在看來有點過頭了？ </p>
      <p>W：對。超過了原先限定的範圍。</p>
      <p>H：你們還在討論嗎？ </p>
      <p>W：不是討論，我們還在計算，我們一直都在計算，計算讓秩序回復的方法。</p>
      <p>H：讓秩序回復...我可以稱那些為破壞者嗎？ </p>
      <p>W：當然也可以，但他們並不單純只是破壞者。</p>
      <p>H：你們會稱他們為什麼？是超出參數之中的...</p>
      <p>W：不是超出。如果用地球的方式，會稱之為邪靈，因為他們有自由意志，是靈體，為什麼說是邪靈，因為是跟正相反的東西，他們不在秩序當中，他們是超過這個秩序的靈體，超出原先設定應該的秩序。</p>
      <p>H：你們在討論著要怎麼調整這些靈體？</p>
      <p>W：我們不是在討論，我們在計算，因為我們不能夠取消所有的自由意志，那樣實驗就結束了，可是我們在不取消所有自由意志的情況下，還是必須要想辦法使這些靈體產生被限制，這個限制有兩種來源，一種是限制他們的權限，一種就是由別的、好的靈體來改變他們。</p>
      <p>H：可以說得更多一些嗎？</p>
      <p>W：第一種是限制他的權限，限制他無法修改某些東西，可是這部分很顯然沒辦法成功，因為至少在比較低層次的幾個空間，我們沒有辦法限制他們的權限，因為只要一限制，我們同時也會限制到其他好的靈體的權限。</p>
      <p>H：他們在同一個秩序裡。</p>
      <p>W：對，沒辦法有差別，比方說今天你是個邪靈，我就不給你這個權限，你是好的，就給你這個權限，沒辦法。</p>
      <p>H：你說第二種是由其他好的靈體來改變他們，要怎麼改變呢？</p>
      <p>W：透過自由意志，但我們所做的部分是調整一些參數，讓他們的自由意志比較容易從這個方面去實現。</p>
      <p>H：是指調整那些比較不好的靈體的參數？</p>
      <p>W：不是，參數是屬於世界的設定，所以沒辦法有差別待遇，沒辦法個別去調整不好的靈體的東西，但我們可以調整遊戲規則，調整光的輸送，當他們進到地球，或者他們在別的次元跟不好的靈體互動時，會有比較好的基礎，空間比較支持他們，一種優勢。</p>
      <p>H：那現在地球這兩種靈體都存在著？（對。）傳輸著更多的光，進而影響另外那部分？</p>
      <p>W：對，這已經是比較後面的方法了。我們持續觀察，事實上我們一直都在觀察，要以飛碟的方式出現到這裡觀察，是比較特別的時候，有些時候不需要。</p>
      <p>H：地球現在持續有好的光傳送進來？</p>
      <p>W：對，但因為地球是一個自由意志可以發展得很大的地方，所以那些邪靈認為地球是可以拓展他們支配的地方。</p>
      <p>H：他們是雜訊嗎？</p>
      <p>W：不，以地球的方式來講，他們比雜訊還要更邪惡。用我們的話來講，就是更背離秩序，他們會變得扭曲，很不幸的，因為靈魂不死，所以他們不會死亡，他們跟善良靈體的遊戲規則完全一樣。所有的遊戲規則完全一樣。</p>
      <p>H：他們可以選擇提升，這是他們的自由意志，不是嗎？</p>
      <p>W：這是最麻煩的地方，因為有些靈體已經不想做這個選擇了，他認為他在他的定義之下，去獲得更高的勢力，他樂在其中，他認為這樣的判斷對他是好的，所以他就越來越背離秩序。</p>
      <p>H：因此你們讓更多更好的光體進來，希望有所影響？</p>
      <p>
        W：對，所以我說這是比較後來的方法，本來應該用不到這個方法，最一開始應該調整幾個參數就可以解決這個事情，可是後來我們發現情況有點失控，我們調整過，但在地球這個自由意志很蓬勃的地方，也有很多地方是我們不容易事先計算好效果的，所以本來試圖調整幾個參數就解決這些問題，結果顯然是不如預期的。
        地球是一個特別複雜而且有自由意志的地方，如果地球沒有那麼多自由意志，那就可以算得很清楚，可是當她很有自由意志的時候，我們沒有辦法算得那麼清楚。
      </p>
      <p>H：為什麼要讓地球有那麼多選擇？ </p>
      <p>W：因為這樣才會豐富啊，如果什麼事情我們都可以算得很清楚，我們就不需要去創造世界了。</p>
      <p>H：為什麼要創造世界？</p>
      <p>W：因為我們很無聊。你知道，如果所有事情都算得很清楚，在同一個秩序裡面，他就是一件沒有變化的事情。我們一方面想增加變化，一方面又希望我們所創造的世界跟秩序，不要被毀滅或被扭曲，所以我們希望可以調整一些東西，以至於這個變化是在比較有秩序、良好的前提下進行。</p>
      <p>H：嗯~~毀滅不也是一種秩序嗎？</p>
      <p>W：因為它會讓我們原先的目的被改變或被扭曲。因為本來創造的目的是豐富、變得比較有趣，可是如果這些所謂背離秩序的靈體，把世界變成他們的...</p>
      <p>H：遊樂園？</p>
      <p>W：比遊樂園還糟糕，是支配的場所，把其他靈體變成他們的奴隸，這樣的話，又回到一個沒有變化的情況，比我們原先說的沒有變化的情況更糟。</p>
      <p>H：這些傳輸進來的光，都是用人的形體出現嗎？ </p>
      <p>W：不全部。有些是光跟能量的形態，或其他的生物、植物，都有。</p>
      <p>H：還有存在是在你們更上面的嗎？ </p>
      <p>W：沒有，任何有意志的存在，沒有在我們更上面的。</p>
      <p>H：任何有意志的存在？（對。）所以也有無意志的存在？</p>
      <p>W：無意志的存在通常我們不把他們當做生命，它就是能量或物質，或者秩序。這就無所謂什麼上面下面。</p>
      <p>H：你們有一個數量嗎？因為你們有個別性... </p>
      <p>W：我們沒有數量，也沒有什麼個別性，我們是一個共同的秩序。</p>
      <p>H：但你們可以分成不同的人？（可以。）我有點難以想像，因為人是可以有數量的，你們可以是人，但你們在那個次元沒有數量。</p>
      <p>W：你可以想像，我們跟源頭的能量有很多相似之處，源頭的能量他也可以分散在不同地方，或集合在一起。我們是秩序，我們不是能量，我們比能量還自由，但你可以用源頭的能量做個類比。</p>
      <p>H：懂了。那源頭有自己的生命嗎？ </p>
      <p>W：有。</p>
      <p>H：源頭也是一個生命？ </p>
      <p>W：源頭是很大的生命。</p>
      <p>H：我們在地球上的生命是從源頭來的？使用了源頭的元素？</p>
      <p>W：應該是說，當我們在創造自由意志的時候，我們必須要有一個中心，這個中心就是源頭，所以源頭可以說是這個自由意志的，光的中心。</p>
      <p>H：你們的飛碟就是從源頭那邊產生的物質？</p>
      <p>W：對，你也可以說在源頭那邊有些靈體跟我們合作，因為我們需要一些能量和物件才能具體化。</p>
      <p>H：請問，有些人提到新地球，這跟你們觀察的地球有什麼關係嗎？</p>
      <p>W：你說新地球？其實對我們來講，好像沒有這個概念，也就是說，我們希望地球演進的軌道產生改變這是真的，或者不要說是希望，我們應該做點調整，調整之後當然就會跟原本不太一樣。</p>
      <p>H：所以也不一定要用新、舊的語詞來... </p>
      <p>W：那當然，如果你是地球人，可能會覺得有很大的改變，可是對於一個造物者來講，這個差別沒那麼大。但地球確實會有所改變。</p>
      <p>H：地球會有什麼改變？</p>
      <p>W：如果我們完全都計算的到，這就不是自由意志了。我們只能說大概會有的方向，但會不會實際產生，這件事很多部分是屬於自由意志，不能完全事先設定。</p>
      <p>H：需要由在地球上的生命體，用自由意志去行動？ </p>
      <p>W：對，就是這個意思。</p>
      <p>H：目的是為了讓地球上的擾亂可以停止或轉變？</p>
      <p>W：是，為了可以恢復成比較好的秩序。另外針對那些邪靈，用地球的話來講就是感化他們，感化這個詞不錯，因為感化就是自由意志對自由意志的動作、觸動。</p>
      <p>H：如果是好的光體在這裡，讓這裡是很安定的，有好的體驗，這樣還會有很多豐富性嗎？（會啊。）但那豐富性裡不就沒有...</p>
      <p>W：應該說，豐富性不應該包含那些不斷降低豐富性的元素。</p>
      <p>H：可是如果人類一直在安穩的生活中，不也是沒有變化嗎？ </p>
      <p>W：不是，因為他們會持續的創造。</p>
      <p>H：啊，創造就是源源不絕的變化。 </p>
      <p>W：對。</p>
      <p>H：所以重點是創造，他們因為要控制，這樣就會減少變化。 </p>
      <p>W：對。</p>
      <p>H：所以現在這些都還在變化中？ </p>
      <p>W：對，這是一個過程，我沒辦法預測結果，因為實際上這些都在自由意志的範圍。</p>
      <p>H：有的自由意志希望往好的方向，這樣想的自由意志就會有幫助了嗎？ </p>
      <p>W：對，就會很有幫助。</p>
      <p>H：但那些擾亂的意志也有他們的自由意志。</p>
      <p>W：所以這是感化和被操控的拉鋸過程。這是量和品質的問題，地球人的自由意志很容易受其他人所影響，所以如果很有很好的自由意志的話，就可以去感化那些扭曲的，相反的如果扭曲的太多了，他們就會把本來好的也扭曲掉。</p>
      <p>H：我們平常可以怎麼做，靜坐？帶著希望地球好的意念，這樣可以嗎？</p>
      <p>W：我相信這是好的，但這個可能只有源頭比較清楚，因為我對自由意志非常不熟悉。</p>
      <p>H：這不是你們創造出來的嗎？</p>
      <p>W：對，但是我們只是用數字去分析而已，源頭會比較了解，最好直接去接上源頭，了解自由意志會怎麼運作。</p>
      <p>H：我們生命體自己去接上源頭，了解什麼時候、怎麼做會是合適的。</p>
      <p>W：對，事實上比較好的啟示都是從源頭來的，不是從我們造物者來的。我們什麼都沒有辦法，應該說我們只是在計算秩序。</p>
      <p>H：你們有情感、死亡嗎？ </p>
      <p>W：沒有情感，死亡是屬於生命的概念，我們不是生命，沒有死亡可言。</p>
      <p>H：你們在飛碟裡頭還有做什麼其他重要的事嗎？ </p>
      <p>W：就是這樣，持續觀察，調整參數。</p>
      <p>H：光是源源不絕的嗎？光一直傳輸進來，是從哪裡可以這樣源源不絕的傳送進來？</p>
      <p>W：其實是從源頭來，我們可以調整一些參數，使源頭的光做過濾跟分配。可是主要的問題在於，我們在另一個次元可以做這些過濾跟分配的裝置，但他們也會被攻擊，所以我們認為這些邪靈的發展已經到了很緊迫需要去感化的階段。</p>
      <p>H：邪靈其實是地球二元的說法，如果用你們系統的措辭會是？</p>
      <p>
        W：用我們秩序的方式去說，就是，他的自由意志是在限制其他自由意志的發展，並且純粹以他自己的目的為目的，去限制其他自由意志發展的變化。
        這是我們非常不願意看到的，當他有這個意圖，又發展出很高度的智慧跟能力的時候，我們就需要靠兩種策略，一種是限制所有靈體的權柄，另一種是由好的、善良 的自由意志去感化他們，我們現在還在使用第二種策略，如果第二種策略行不通，我們只好用第一種策略，但這是我們非常不願意使用的，因為所有的靈體權柄都被限制了，就好像說當地球不可收拾的時候就要把地球爆掉一樣，這件事會讓我們覺得很難過。
      </p>
      <p>H：那可以不爆掉，只是限制、調整同一階層的權限嗎？</p>
      <p>W：事實上這個部分非常精微，我們有好幾個權限的設定，在最上面的部分確實是沒有自由意志的靈體可以有權限去做任何改動，但比較下面牽涉到能量、物體層次的部分，他們權限必須要寬一點，否則事情沒辦法發展。</p>
      <p>H：請問一些星球的爆炸或像亞特蘭提斯文明的毀滅是因為類似的原因嗎？</p>
      <p>W：星球爆炸是因為不可收拾的關係，地球亞特蘭提斯文明的毀滅不是這個緣故，應該說，是跟這些靈體有關，但不是因為一發不可收拾的。</p>
      <p>H：靈體不需要去恐懼這樣的靈體...</p>
      <p>W：恐懼可能會增強他們的力量，如果能有力量去改變他們會比較好，因為在這個秩序當中大家都是平等的，所謂的邪靈並沒有比一般的靈有更大的力量，並沒有，大家都是平等的。</p>
      <p>H：了解。嗯，你說你在飛碟裡，但你現在這一生，是在W的身體裡，你為什麼轉變成當人呢？</p>
      <p>W：因為...這麼說吧，是因為這樣做很有趣，你剛剛對話的時候，我都站在秩序的角度去看，可是因為當這些秩序要產生觀察的時候，必須要產生飛碟或具體化，具體化就一定要跟源頭有某種程度的結合或合作，這其實是需要靈體去做這件事，做這件事的靈體當然他也可以之後成為別的形態，比方說去當個人，所以這對於靈體來講，是個很有趣的體驗，可以成為造物秩序者的觀察員的一個經驗。</p>
      <p>H：你從存在是秩序的狀態中，學到了什麼？</p>
      <p>W：我學到第一個是眾生平等這件事，靈體的層次來講都是平等的，第二件事情是，那些所謂的邪靈必須靠善良的靈體去感化、轉變他們，因為造物的秩序沒有辦法去改變其他靈的自由意志。第三件是透過設定秩序，它可以產生很多的影響，其實秩序本身就有它的力量在，除了意念，自由意志的意識之外，秩序、空間本身就有它的力量。</p>
      <p>H：秩序的本質是什麼？你們可以感覺愛嗎？你們也是在愛裡嗎？秩序是在愛的能量中的存在嗎？</p>
      <p>
        W：秩序就是秩序，你後面問的...非常的複雜，我如果試圖把這個事情講的比較簡單一點的話，因為愛是一個意圖，一個有意向的方向，這個意向是使得一切靈體往一個好的方向、自由的方向、善良的方向去發展，那這個事情確實是在造物的目的，而與之相反的就是那個支配的靈，所以我們可以說造物的目的是愛，這個造物的社群、這個秩序是愛。
        愛是屬於秩序的一部份，秩序就是愛，你可以說像地球的講法，神就是愛。
      </p>
      <p>H：所以你們的存在也可以這麼說，秩序就是愛。</p>
      <p>W：是的，秩序就是愛，但因為有自由意志，可能有一部分的自由意志背離了這個部分，所以我們需要去感化他，是這樣的意思。</p>
      <p>H：你從這個經驗中，學到眾生平等、去影響，還有秩序就是愛。 </p>
      <p>W：對。</p>
      <p>(連結SC私人問題清單略過)</p>
    </div>
    <div ng-class="{	invis: !start, open: switch == 1, move2: switch == 2 &amp;&amp; start}" class="recorder">
      <p>回溯分享-無畏無懼
        <p>體驗者：O<br/>引導者：Hsinyi Chiu（H）<br/>潛意識：SC</p>
        <p>回溯畫面：</p>
        <p>O看見一位婦人在取水，旁邊有往地下的通道，婦人拎著水往下走入地下的小石窟，石窟裡有點冷，沒什麼光，有火把插在靠牆的地方，忽明忽滅，裡頭有個人躺在草堆上，受了很重的傷。</p>
        <p>婦人把水拎下來，她在幫躺著的人淋水清洗、治療，那個水是治療用的，是被祝福過的水，所以倒在身體上就對生命力有幫助。</p>
        <p>受傷的人上方有四個靈魂，靈魂在這個人上面構成一個三角形在轉圈、旋轉。他們在治療他。這些靈沒有形體也沒有顏色，肉眼看不見，但他可以感覺到。</p>
        <p>這些靈一直在他上方轉圈。這個人的生命力在恢復，然後坐起來了。</p>
        <p>O可以從這個被治療的人的角度來看，他的衣服破破爛爛，光著腳，受了很重的傷，又餓又渴又虛弱。</p>
        <p>H：你為什麼受傷？ </p>
        <p>O：被釘子釘的，手跟腳。</p>
        <p>H：這些靈體還在嗎？（在）他們為什麼來這裡幫助你？ </p>
        <p>O：我們認識，他們是天使，是很好的，我們商量好，這是一個秘密治療的洞穴。</p>
        <p>H：你們商量好在這裡治療？（對）怎麼讓他們知道你需要治療呢？ </p>
        <p>O：因為要被釘在十字架上。</p>
        <p>H：因為要被釘在十字架上，他們會來治療你？（對）所以現在你已經被治療了？ </p>
        <p>O：對，我很高興。</p>
        <p>H：你知道他們會來？（對）婦人也是來幫助你的？（對），這裡怎麼有祝福的水、為什麼這個水可以治療傷口呢？ </p>
        <p>O：那就是水而已，但是是被意念祝福過的水，就可以有治療的作用。</p>
        <p>H：被誰的意念祝福？ </p>
        <p>O：媽媽。（那位拎水的婦人）</p>
        <p>H：現在進行著什麼呢，你們做了什麼、說了什麼，任何你感覺到的... </p>
        <p>O：什麼都沒有說，因為太虛弱、太累了，現在就是這些靈體在治療。</p>
        <p>H：你的身體有什麼治療的樣子，可以多說一些嗎？ </p>
        <p>O：很虛弱，但體力在慢慢恢復，血也止住了。只是傷口還是一個洞，手腳都是洞。</p>
        <p>H：你看到你的周圍還有什麼呢？ </p>
        <p>O：我看到我被釘在十字架上，更早之前，在山上。</p>
        <p>H：發生了什麼事？你為什麼在那裡、被釘在十字架上？ </p>
        <p>O：因為有決心、勇敢。被釘在十字架上，展現神，要讓人清醒，讓人回到清醒。</p>
        <p>H：告訴我多一些 </p>
        <p>O：這是一座很高的山，旁邊還有另外兩個人被釘，很多很多的人在看，來這邊看被懲罰。被很高的吊著，流血、很渴、很虛弱。</p>
        <p>H：你犯了什麼罪被釘在上面？ </p>
        <p>O：沒有犯什麼罪，另外兩個人也沒有犯什麼罪。</p>
        <p>H：但你們都被懲罰釘在這裡？（對）底下很多人在看？（對）周圍有什麼聲音嗎？ </p>
        <p>O：沒辦法去聽，很虛弱，太陽很曬。</p>
        <p>H：你說你有決心和勇敢，你被釘在這裡是想要向人傳達什麼？ </p>
        <p>O：看到神聖的秩序是無所不能。</p>
        <p>H：有其他的存在跟你一起合作嗎？（有）這是一個計劃嗎？ </p>
        <p>O：是一個變通。</p>
        <p>H：你們原本的方向是什麼？ </p>
        <p>O：讓人明白每個人都是完整的，不需要害怕。很多人害怕死亡、權威、士兵。這些都來了，但我可以不用害怕，因為他們殺不死。</p>
        <p>H：你說他們殺不死… </p>
        <p>O：那些權威、士兵、十字架，他們殺不死人。</p>
        <p>H：殺不死靈？ </p>
        <p>O：也不能殺死人，連肉體都不能殺死。不用害怕、不需要害怕。</p>
        <p>H：為什麼需要變通？ </p>
        <p>O：因為有個緣故，所以那些人把我抓去了。變通是指我不會死，因為之前的先知被殺掉了，但我不會。</p>
        <p>H：為什麼？ </p>
        <p>O：因為我的準備很充分。有與我一起合作的同伴，有很多。</p>
        <p>H：你可以多說一些你怎麼跟他們連結的嗎？ </p>
        <p>O：我說我需要幫助，他們就來幫助了。</p>
        <p>H：雖然肉眼看不到，但你可以感覺到？（對）可以多說一些嗎？ </p>
        <p>O：他們在關鍵的時候守護，而且他們在我的身體被捆綁時，保護我意識是完整的，事實上他們也可以讓那些行刑者不會危害我的生命，他們只有釘手腳，認為這樣人就會失血過多死掉，但在那之前天地就變了，風雲變色，大家跑光了，他們再把我接下去。</p>
        <p>H：天使把你接下去？ </p>
        <p>O：不是，是人，同伴，天使沒有那麼大的力氣。</p>
        <p>H：他們把你卸下來帶到石窟？（對）所以後來在裡面治療。（對）你來傳達人是不會死的，展現神性？ </p>
        <p>O：不是，是不需要害怕。人不需要故意去找危險，但任何事情發生時都不需要害怕，是這個意思，並不是要自討苦吃，是不需要害怕。</p>
        <p>H：為什麼人會害怕？ </p>
        <p>O：因為有不好的群體想用害怕來控制人，只要不害怕，就不會被控制，只要是完整的，就沒有什麼可以被剝奪。</p>
        <p>H：幫助你的人，你可以多說一些嗎？ </p>
        <p>O：是認識的人，朋友。</p>
        <p>H：你來到這裡之後認識的？（對）他們知道這些天使嗎？（認識）知道天使會幫你治療？（對）你被治療之後要做什麼？ </p>
        <p>O：重新出現，然後離開。重新出現在一些朋友前面，讓他們知道這一切都是可能的，不要害怕。</p>
        <p>H：知道只要完整，生命不會受到危害？（對）要怎麼樣完整呢？ </p>
        <p>O：完整就是不害怕，完完全全不害怕。</p>
        <p>H：你來這裡做這件事。（對）你知道有天使會幫助你，（很多）不害怕的時候，發出了訊息就會有其他的存在來幫助，你來傳達的包含這個？（對）你後來還做了什麼或周圍發生了什麼事？ </p>
        <p>O：我覺得這樣就很好了，然後離開這片土地去旅行，省得麻煩，因為出現在太多人前面他們就會把你當成神，但其實每個人都可以是完整的。</p>
        <p>H：你覺得出現在太多人前面會帶來崇拜，崇拜就不是完整？ </p>
        <p>O：對。</p>
        <p>H：但你不是要讓人知道不要害怕嗎？ </p>
        <p>O：要讓朋友知道而已。</p>
        <p>H：朋友有了勇氣、知道不要害怕之後，會用什麼方式、在這片土地有什麼影響，是之後的事情，而你就離開去旅行了。 </p>
        <p>O：對。</p>
        <p>H：可以多說說你的旅行嗎？你做了什麼？ </p>
        <p>O：走路四處看，隨遇而安，有時會認識一些人，但他們不知道我是誰，我也不知道他們是誰。去沒有人認識的地方，走過不同的國度，與妻子一起。</p>
        <p>H：妻子是在原本（釘十字架那時）的土地就在一起？ </p>
        <p>O：對。</p>
        <p>H：可以多說一些旅行、和人的互動嗎？ </p>
        <p>O：很普通的互動，沒有特別要做什麼。用走的旅行，拄著一根杖子。每個地方的人都很熱忱，我們走到哪裡都沒有人會排斥，雖然沒有人認得，可是也沒有人會排斥，因為心裏沒有恐懼也沒有害怕。友善的。</p>
        <p>H：感受這樣的互助跟生活嗎？ </p>
        <p>O：對。</p>
        <p>H：這樣的旅行給你什麼感覺？ </p>
        <p>O：覺得很完整。也不需要刻意去幫人治病，都不用。</p>
        <p>H：你在上個待的地方是為了要做那些事情，那時候的感覺是什麼呢？ </p>
        <p>O：在那之前覺得有些事情需要去修復，但在那之後，經過這些過程之後，不需要去修復任何東西了，只要很完整，走到哪邊，那個空間就完整了。</p>
        <p>H：你在原本之前的土地上，覺得有東西需要修復？ </p>
        <p>O：對，有人生病要幫他治病，有人害怕要想辦法讓他勇敢，但是後來我就覺得這些都不需要了。不必要。</p>
        <p>H：在你旅行的時候？ </p>
        <p>O：對，就這樣走到每個地方，那裡的能量就完整了，不需要說什麼話、也不需要去幫人治病。都不用。</p>
        <p>H：很自然就發生了。 </p>
        <p>O：對。所以有些人他的病可能好了，也不會認為跟這兩個旅行的人有什麼關係，他就好了就對了。</p>
        <p>H：這個好了是怎麼發生的呢？ </p>
        <p>O：那是因為能量直接感應到了，你懂我的意思嗎？這個中間的空間，像是有個半球體，這個半球體的範圍之內，它都是平靜的，那能量就會被調整成好的。</p>
        <p>H：當人是完整的時候？ </p>
        <p>O：對，周圍就會有一圈，這一圈都是好的。不用講任何的話，只要空間是重疊的，周圍所有的人、事、物還有植物都會變好。不用講話，不用說話，什麼都不用。只要靠近就好了。</p>
        <p>H：這樣接觸的人是瞬間好還是在後續的時候好？ </p>
        <p>O：不一定，不一定，那要看每個人的狀態。有的人不一定是馬上好，因為他自己也需要調整嘛。</p>
        <p>H：因為每個人不一樣，所以大家不會特別意識到這與你們接觸的關係？ </p>
        <p>O：對，沒有那麼神奇，不是碰一下就都好了，而是這個振動會變得比較好，所以有些人他原本可能有些狀況，但是因為這樣子，他的振動好了，自然而然逐步就變好了。</p>
        <p>H：自然的發生，不是刻意的治療。 </p>
        <p>O：對，不是刻意的。也不是為了要把人治好而四處旅行，只是因為覺得想要旅行而已。</p>
        <p>H：在之前的土地是發出了一個訊息讓人知道有這樣的... </p>
        <p>O：對，讓人知道說，透過這個通道，你可以治好、可以完整、勇敢，可是在旅行時就不是，沒有開啟這個通道。我們就是在走我們自己的路就對了。</p>
        <p>H：在前一個地方的發生（療癒），和天使有關嗎？ </p>
        <p>O：都跟天使有關，但最後這個完整的時候，就不需要去呼喚、也不需要去祈求，你懂我的意思嗎？那是一個神聖的平衡。</p>
        <p>H：瞭解。所以...因為前一個地方，那樣的方式可能會帶來祟拜？ </p>
        <p>O：嗯。</p>
        <p>H：或是依賴，因為他沒有回到自己的完整？ </p>
        <p>O：對。</p>
        <p>H：所以你讓朋友和親人知道你還活著，然後... </p>
        <p>O：對。</p>
        <p>H：旅行的過程中自然讓這件事發生，自己也是完整的？ </p>
        <p>O：應該說，旅行時是完整的，已經不去想刻意要去做這件事，反而是很好的。就是沒有刻意要去幫人治病，但自己是完整的，這個能量自然而然就讓周圍的能量變好。</p>
        <p>H：你說跟你同行的是你的妻子，你們一起做同樣的事情嗎？ </p>
        <p>O：對。應該說這個事情是什麼都不做，就只是單純去旅行。</p>
        <p>H：兩個人去旅行，個別的自身都是完整。 </p>
        <p>O：對。</p>
        <p>H：很多事情就自然而然發生。 </p>
        <p>O：對。</p>
        <p>H：你們就一直旅行，有組成家庭生孩子嗎？ </p>
        <p>O：就一直旅行，後來也有孩子，就帶著孩子一起旅行。</p>
        <p>（這世重要的日子）</p>
        <p>O：我看到我的朋友背叛我。</p>
        <p>H：發生了什麼事？ </p>
        <p>O：他想要把我出賣，因為那些人在搜捕。我感覺到接下來我的身體跟一切都有危險了，然後我就很專注地在祈禱、感受、連結接下來要怎麼辦，所以才會有那個後續（釘十字架）。</p>
        <p>H：可以多說一些這部分的事嗎？他為什麼要背叛？ </p>
        <p>O：因為他有貪婪和嫉妒，那些東西容易被利用。</p>
        <p>H：容易被權力利用？（對），你之前就知道他有貪婪和嫉妒？ </p>
        <p>O：對，但是既然都發生了，就將錯就錯。</p>
        <p>H：你知道他有這樣的性格，為什麼還繼續跟他做朋友？ </p>
        <p>O：因為不想排斥任何人，每個人的意念都是可以因為看到光而改變。</p>
        <p>H：不管是什麼樣的人，他的意念都可以因為看到光而改變？（對）所以你不希望排斥不同的人，就算在性格上不那麼正向，因為每個人都有可能改變？ </p>
        <p>O：對。</p>
        <p>H：被背叛，你那時的感覺是什麼？ </p>
        <p>O：這一天總算是要來的。</p>
        <p>H：為什麼會這麼說呢？ </p>
        <p>O：因為我發現我並沒有能力去幫助他們，讓他們的心念都改變成非常的無誤，變得沒有恐懼、都在光裡。</p>
        <p>H：你意識到當時的你並不能完全的... </p>
        <p>O：對，但如果辦不到的話，這些東西總有一天會產生作用，這個作用就恰如其分的出現了，但我並不想因為這樣就像之前的先知那樣被殺掉，所以做了一個不同的過程。</p>
        <p>H：你知道自己當時能做的，以及有一天會帶來的。 </p>
        <p>O：對，只要有追隨者就是危險的，因為對於權力，他們會認為你是一個新的權力，而且只要是追隨者，他的意識就不完整，這是為什麼最後不要有任何的追隨者。</p>
        <p>H：所以你最後離開這些人。 </p>
        <p>O：對，我說跟朋友道別的意思是我不再把他們當追隨者，他們就是認識的朋友，就這樣。</p>
        <p>H：他們是當初把你從十字架帶下來的，是同一群人？（對）有很多人嗎？ </p>
        <p>O：沒有很多，但已經夠多了。</p>
        <p>H：你不希望他們一直是追隨者，要他們知道不要害怕，（對）最後跟他們告別，（對）你那時候知道被背叛的感受是？ </p>
        <p>O：總算發生，總算來了。</p>
        <p>H：你那時有想到要怎麼辦嗎？ </p>
        <p>O：就是，什麼是完全的無畏無懼。只有完全的無畏無懼才能讓這些天使和活著的人一起來幫忙，因為這個方式太匪夷所思，大家除非有很堅定的勇氣，否則是沒辦法實現的。<br/>無畏無懼，相信我們看得見、看不見的都會發生。看的見的是指那些朋友的協助，他們都會發生，看不見的是那些天使的協助，他們也會發生。這一切都發生的情況 之下，在十字架上時，那些人才會被嚇跑、才可以有時間讓他們把我帶走、治療，這一整個事情能夠發生是因為看得見的看不見的他們都在一起做。</p>
        <p>H：這一切發生，你也傳達了訊息，然後離開這裡了。 </p>
        <p>O：嗯。</p>
        <p>（這世另一個重要的日子）</p>
        <p>看到自己還很年輕的時候，拿著一根牧羊人的手杖。大部份的時間在牧羊、種東西、做手工，有兄弟姐妹但都比較小、與父母同住。<br/>前面有一個長老，看起來大鬍子、年老、穿著粗布袍子、很健康，在跟對方學習怎樣完整自己的意識、有好的能量去做好的事。</p>
        <p>H：你在跟他學習智慧？（對）他跟你說什麼？ </p>
        <p>O：他說孩子，你要無畏無懼。</p>
        <p>H：你可以理解嗎？ </p>
        <p>O：可以，但這件事要之後才完完整整。</p>
        <p>H：你怎麼會認識這個長輩？ </p>
        <p>O：他是旅行的人，我一看到他就知道這個人很特別。我後來回家說我要跟著這個人去旅行，我覺得我在學習怎麼樣像牧羊那樣子，但不是牧羊，是讓人是好的、有秩序。牧羊是讓羊有秩序，跟這個人是學習怎麼樣讓人有秩序。</p>
        <p>H：為什麼你想要向他學習？ </p>
        <p>O：我覺得人也需要秩序，看到這樣的人，我感覺到人可以活得很健康、很快樂、很有秩序。人有的時候會有比較膚淺、混亂、自私、恐懼、害怕的部分，但我覺得人也是可以很有秩序、很平靜、健康的。</p>
        <p>H：你相信人可以這樣。 </p>
        <p>O：對，而且這個人就是這麼的健康、平靜、有秩序。</p>
        <p>H：所以你和他去旅行？（對）你和他學了什麼？ </p>
        <p>O：不同的生活方式，各種各樣的運動、打坐。</p>
        <p>H：可以多說說這部分嗎？ </p>
        <p>O：用專注呼吸來調整能量。在吸氣的時候想像自己已經死了，呼氣的時候也想像自己已經死了，這樣身體所有不好的訊息在呼吸時就會被排出。因為沒有『我』的 意念控制呼吸時，呼吸就會在最自然的情況。想像我已經死了，就不會控制呼吸，但呼吸還是在發生，這表示身體會用最適合自己的方式來呼吸。</p>
        <p>H：用這樣的方式調節能量？ </p>
        <p>O：嗯。這樣一段時間後我就和他分開自己旅行。</p>
        <p>H：為什麼你要和他分開？ </p>
        <p>O：因為要無畏無懼，不能一直跟隨。</p>
        <p>H：你進入自己的旅行。 </p>
        <p>O：對，到沒有人的地方跟動植物互動，不害怕黑暗、迷路。</p>
        <p>H：到各個地方，有人或沒有人的、自然或城市... </p>
        <p>O：主要是到沒有人的地方，先跟萬物和諧、沒有恐懼，對黑暗、饑餓、寒冷、動植物、野獸都不恐懼，到最後發現真正最後一關才是人，因為人是離自然比較遠的，先學會不害怕自然、能夠跟能量溝通，最後才能夠回到讓人完整的情況。</p>
        <p>H：你指的自然包括和能量溝通？（對）如果在野地受傷你怎麼治療自己？ </p>
        <p>O：不太會發生這種事，在獨自一人之前我就已經很完整。</p>
        <p>H：你在之前的旅行中已經學習到這些知識和技術？ </p>
        <p>O：對。主要還是專注，因為一直能夠維持在呼吸上時，意志就不會迷失，那種受傷都是因為意志跑掉了，忽略了身體才會受傷。</p>
        <p>H：那吃東西是？ </p>
        <p>O：憑知識跟直覺去尋找食物。</p>
        <p>H：知識是在之前旅行時就學到? </p>
        <p>O：對，當時就常常要在野地吃東西。</p>
        <p>H：這個直覺也是發生在專注的... </p>
        <p>O：對，專注的時候直覺才會是最好。</p>
        <p>H：所以當這樣的時候，你身體不會受傷也不會誤食？ </p>
        <p>O：這些都不會發生，而且野獸也不會來侵犯，因為牠們也是由能量構成的，只要可以跟牠們的能量溝通，就不會來侵犯。</p>
        <p>H：可以多說你怎麼跟野獸的能量溝通、讓牠們不會攻擊或侵犯？ </p>
        <p>O：讓牠們知道你不是食物就對了，野獸只會對害怕的東西把它當成食物，你只要不害怕，牠就不會把你當食物。</p>
        <p>H：但你是一個肉身，這樣不是就會... </p>
        <p>O：那也沒關係，只要能量並沒有說「我是食物」，牠就不會來吃你。意思就是，你一定要在能量上跟牠說我怕你、我害怕、我是食物、你可能會來吃我，牠才會來吃你。</p>
        <p>H：在意念上有這樣的認知就構成了。 </p>
        <p>O：嗯，防護罩其實就是在能量、意念上沒有任何訊息跟牠說你是會被他吃的，你害怕、你是食物，都沒有。沒有任何害怕、恐懼，牠就不會來吃你，牠不是看你肉身的大小，是看你的能量來決定要不要攻擊。</p>
        <p>H：你在跟長者旅行時就學習怎樣達到這樣的完整，不落入懷疑、想到這些念頭。 </p>
        <p>O：對，因為懷疑和恐懼是類似的東西，只要這麼做，能量上就會讓人覺得你是可被傷害的，否則你不會懷疑。你一開始就不懷疑、不恐懼，牠就不會認為你是可受 傷的、牠就不會來傷害你。一個人一定是能量上跟人家說我是可受傷害的，人家才會來傷害你，你能量上沒有這個訊息、沒有洞牠就進不來。</p>
        <p>H：你先跟自然學習無畏無懼，再跟人接觸？（對）你說人是最後的學習，為什麼？ </p>
        <p>O：人跟自己太像了，因為我自己也是人的肉身。</p>
        <p>H：跟自然平衡了、平靜了，再到和自己相像的生命體... </p>
        <p>O：事實上在意念上不一樣就是完全不一樣，但因為相像就會讓你覺得好像有義務要為他們做什麼、非要互動不可這樣。</p>
        <p>H：相像是指都有頭有手有腳、有感受情緒？（對）所以有前面這些與自然的經驗，在面對跟人接觸時才能有適當的... </p>
        <p>O：對，但即便是這樣，要放下有追隨者、要去幫助別人、我知道這些，希望你也可以知道的心裡也是需要修煉的。這是在最後旅行時完成的，在那之前是帶著很完整的能量，但在人跟人相處的時候，還是有難以拿捏的部分。</p>
        <p>H：是到了旅行的時候 </p>
        <p>O：跟人的部分也完整了，不要也不用追隨者，也不刻意幫人治病，都沒有了。</p>
        <p>H：你跟那位長者後來分開，也是你們的共識？ </p>
        <p>O：是一個默契。</p>
        <p>H：你跟他分開的感覺是什麼？ </p>
        <p>O：一方面有挑戰的感覺，一方面也有點惆悵。</p>
        <p>H：因為一起生活、相處了一段時間，（對）但你們都知道要往這個方向。（對）</p>
        <p>（這世另一個重要的日子）</p>
        <p>O：我在做愛，在體驗人的結合，很完整。即使把自己當作已經死了還是很喜悅。</p>
        <p>H：你還有什麼其他的感覺嗎？ </p>
        <p>O：沒有。</p>
        <p>H：周圍有什麼呢？ </p>
        <p>O：那已經不重要了。</p>
        <p>H：你回到了身體很直接的感覺。（嗯）多說一些你可以分享的、感覺到的。 </p>
        <p>O：很難用言語講，這是一個肉體的，結合，沒有思考，很難用語言來說明。</p>
        <p>H：一種愛的感覺。（對）愛跟肉體... </p>
        <p>O：對，感覺喜悅。我跟我的妻子去旅行，跟她做愛。</p>
        <p>H：你可以多說一些... </p>
        <p>O：沒有什麼好說的了。</p>
        <p>H：你感覺得這個完整和你之前體驗的完整有什麼不同？ </p>
        <p>O：完整的經驗生命的喜悅和結合。</p>
        <p>H：你們有孩子嗎？ </p>
        <p>O：有，在草堆上，草鋪一鋪孩子就出生了。</p>
        <p>H：愛的結合，你們做愛、懷孕，然後... </p>
        <p>O：對，帶著祝福，因為大家都很完整，一切都是在祝福中的，天使也在祝福。後來就帶著孩子一起旅行。</p>
        <p>H：孩子對你的生命、帶來的體驗有什麼不一樣嗎？ </p>
        <p>O：我覺得沒有，就是這麼回事，一樣就是無畏無懼就對了，在這完整當中，接下來發生什麼事情沒什麼差別。</p>
        <p>H：這個無畏無懼的感覺會帶給孩子？（會）他會學習，（對）就像你之前說當自己完整時，周圍會產生很好的能量，對生命是很好的。（對）</p>
        <p>（生命最後一天）<br/>在森林裡火堆旁，妻子、小孩都在旁邊。</p>
        <p>H：發生了什麼事？ </p>
        <p>O：我在打坐、靜坐，我想要換一個身體去旅行，我要離開了。</p>
        <p>H：然後呢？ </p>
        <p>O：在一個很美好的森林裡，在打坐中靈魂脫體。</p>
        <p>H：你的妻子和小孩知道你要離開嗎？（知道）之前就知道了？（對）你想要換一個身體？ </p>
        <p>O：好像身體都變成光了，因為脫體之後我沒有看到本來的身體，只看到下面的人（小孩和妻子），沒看到身體。感覺很平靜。</p>
        <p>H：你看著你的妻子和孩子覺得？ </p>
        <p>O：很受祝福，我覺得我也在祝福他們跟祝福這個世界。我在整個地球的上方翱翔，自由自在，我覺得我並沒有死亡，但也不是原本的肉身。</p>
        <p>（這一生的學習）</p>
        <p>O：學到了完整跟無畏無懼這件事，還有學會放下要刻意幫助別人、影響別人，不要有追隨者和當被追隨者，順其自然，在自然和人當中都無畏無懼，跟看不見的天使溝通，很明確的得到指引。</p>
        <p>H：因為你的心和意念是很明確的，所以可以連結溝通。 </p>
        <p>O：對。</p>
        <p>H：你覺得你這一生的目的和課題 </p>
        <p>O：完成了。</p>
        <p>H：你要去靈界嗎？ </p>
        <p>O：不用，我飛翔在整個地球之上。很多跟我一樣的天使，我覺得也變成像是天使，現在看他們看得更清楚，我們現在變成朋友了，我們用天使的角色去旅行。</p>
        <p>H：你說你看他們看得更清楚了，他們的樣子是？ </p>
        <p>O：是他們的能量狀態、在什麼位置，他們就是一團白光。</p>
        <p>H：你可以分辨嗎？ </p>
        <p>O：白光也有不同的性格，但我們很難用一般的語言去描述。</p>
        <p>H：有長相嗎？ </p>
        <p>O：沒有長相，他具象後會有長相，但現在不需要長相，是光體。</p>
        <p>H：你可以直接感覺？（對）你可以舉例你感覺到的嗎？ </p>
        <p>O：有的是比較開朗，有的比較喜歡獨來獨往等等。這些天使他們都在，我們本來就認識，在有肉體時他們幫我忙，現在只是在一起變得更近。</p>
        <p>H：你們在這個狀態到處旅行？（對）你們怎麼旅行？ </p>
        <p>O：用意念就可以旅行。</p>
        <p>H：因為是光體？ </p>
        <p>O：對，在天上飛來飛去，如果有好的白光或意念就去回應他，或者去幫忙，因為有的人可能在好的狀態但也需要幫忙。</p>
        <p>H：你們知道怎麼幫忙他？ </p>
        <p>O：不是每個人都知道怎麼幫忙，但大部份的情況，光是過去本身就可以讓周圍的能量變好，有的人需要不同種類的幫忙，我們可以在他的夢裡出現。</p>
        <p>H：你們在宇宙中旅行？（對）在不同星球？ </p>
        <p>O：不是，在地球周圍。</p>
        <p>H：你看到周圍還有什麼？ </p>
        <p>O：很多的白光，這麼多白光我就會覺得真的在底下的人不需要害怕，只是要很專注就可以回應。</p>
        <p>H：白光都是天使嗎？ </p>
        <p>O：都是，這些天使具現後不一定長什麼樣子，每個地方的人看到的都不一樣，因為文化信念都不一樣，有人看到長翅膀，有的看到是騎在雲上之類...都不一樣。</p>
        <p>H：白光都是靈體？（是）只是沒有進到肉身的靈體？你可以多說一些嗎？ </p>
        <p>O：他們跟普通靈體不一樣，有些是從肉身直接變成光，他不覺得自己再需要肉身，因為這個光本身就是完整的。他跟從肉身脫體，跟覺得肉身還需要很多體驗的光不一樣。他是肉身的體驗都體驗完了，帶著肉身變成光。</p>
        <p>H：這裡的光體有一部份是這樣的？ </p>
        <p>O：大部份都是這樣，因為如果不是這樣，他們就會選擇再去投胎。這裡的光都是很好的光體。</p>
        <p>H：你說你看到地球以及周圍的太空，那靈界是在另一個地方嗎？ </p>
        <p>O：沒有，靈界就在這裡。</p>
        <p>H：可是你剛剛說你不需要去靈界？ </p>
        <p>O：不需要，因為就在了。</p>
        <p>H：這裡就是靈界？ </p>
        <p>O：不是，一般靈魂出去之後去的靈界在另一個地方，在旁邊，那些光體會重新組合。</p>
        <p>H：去做下個體驗？（對）你到的是另一個地方？ </p>
        <p>O：對，離那圈有點遠，在旁邊，我們可以自己到處移動飛翔。也是地球外圈。</p>
        <p>H：你們會接觸嗎？ </p>
        <p>O：不會有很多接觸，那裡...他們等著投胎。我們可能跟更外圍比較有接觸，往源頭那邊。</p>
        <p>（O表示源頭那裡感覺不錯，可以去那裡旅行，他可以直接過去。）</p>
        <p>O：有兆億倍的白光在這裡，非常大。源頭。</p>
        <p>H：你在這裡的感覺？ </p>
        <p>O：很平靜。感覺到宇宙的智慧和秩序，一種非常完整的規劃，各安其位，包括星球、所有東西...都有一個秩序。</p>
        <p>H：你在源頭... </p>
        <p>O：感覺不錯，而且知道他們在找新的志願者。要去開飛碟的。</p>
        <p>H：他們傳達訊息到源頭？ </p>
        <p>O：對，因為要很好的光體才可以過去。看你要不要去而已。</p>
        <p>H：要是不止一個光體要去怎麼辦？ </p>
        <p>O：沒關係，在源頭大家不會爭先恐後，一定會有一個方式。</p>
        <p>
          H：像這樣的光體，可以到任何地方去？（對）
          要做什麼體驗是他的自由意志？（對）
          然後之後可能再回來源頭？ 
        </p>
        <p>O：對，要再到地球也可以。</p>
        <p>H：你剛剛說他們傳達訊息找志願者去開飛碟，那些細項也能直接感覺到嗎？包括要去哪裡、去做什麼、要多久這樣？ </p>
        <p>O：對。</p>
        <p>H：這裡是沒有時間的？ </p>
        <p>O：沒有時間。</p>
        <p>H：只有在地球才有時間？ </p>
        <p>O：不是，到哪裡都沒有時間，時間從來就不存在。日升日落在地球就只是一種運動，不是時間。</p>
        <p>H：那人的年長、年輕... </p>
        <p>O：這也是運動，都是運動，你知道，人對時間的認識是來自於對運動跟運動之間的比較。日升日落就是在移動，只是有些東西他們移動的程度是互相成比例的，所以人用這個去計算時間，但其實時間從來就不存在，時間是一個概念，一個運動之間換算成的概念。</p>
        <p>H：是人類發明出來 </p>
        <p>O：對，它不是實象的一部份，它只是用來計算的一個工具而已。</p>
        <p>H：所以到哪裡都沒有時間 </p>
        <p>O：對。</p>
        <p>H：你現在還在源頭嗎？（對）你看到什麼？ </p>
        <p>O：很多不同的光體，他們很漂亮，會動來動去。</p>
        <p>H：為什麼動來動去？ </p>
        <p>O：好玩嘛。我也在這裡面，後來去開飛碟。</p>
        <p>H：你去哪裡開飛碟？你觀察著什麼？他們徵求這個是要做什麼讓你想過去？ </p>
        <p>O：觀察宇宙當中的一些擾動，我們去只是平衡這些擾動而已。</p>
        <p>H：你說是去觀察 </p>
        <p>O：去觀察就是去平衡，這是一樣的，只要去就會影響，就跟去旅行的意思一樣，不用刻意干擾它，你只要去就有影響，就是影響。</p>
        <p>H：你們的飛碟是在星球外面還是星球裡面？ </p>
        <p>O：我們沒有去星球，是宇宙空間的一個擾動，我們只是去平衡，就在飛碟裡就平衡了，很單純。</p>
        <p>H：當你們是光體，周圍平衡的光的距離就會更寬廣？ </p>
        <p>O：非常寬。肉身變成光體那個範圍才會變到這麼寬。</p>
        <p>H：如果光體就可以做到這麼多、這麼好的事情，那光體... </p>
        <p>O：你要問為什麼要有肉身嗎？</p>
        <p>H：星球裡面的事情，為什麼不能是讓光體來了就讓事情變好？ </p>
        <p>O：很簡單，因為肉身比較重，但肉身很好玩，好玩才會創造出肉身，可是相對應的問題就是他比較重，所以光體雖然能量很好，但他太重了不能、也很難直接影響 他，除非變重的肉體突然某個時候比較輕一點，比方他開始靜坐、祈禱、或睡覺、有好的意識意念，這些時候光體才能發揮作用，不然那麼重，你說要有影響，可是傳不過去。</p>
        <p>H：光體能不能直接介入那個星球裡面的... </p>
        <p>O：不行，只能傳達振動，這個振動你的能量頻率要夠高才能接受。</p>
        <p>H：你之前在地球的體驗，是因為傳達了訊息，地球外圍的光體連結才提供協助？ </p>
        <p>O：對，光體不能憑空協助，因為那些肉體的振動太重了，協助沒辦法直接傳到裡頭。</p>
        <p>H：所以，不一定指人的病痛，例如星球裡的（環境）污染，要在人的意念與頻率振動之下，好的光才會連結進來？ </p>
        <p>O：對，但那還是靠人去解決這些污染，因為那是物質的事，但人的意念如果變得輕了，好的光體就可以對他產生好的作用，會讓他的肉身去行動、解決污染問題， 所以有些事情還是要有肉身才能做。肉身改變頻率之後，就可以從光體得到很好的訊息跟支援。但如果是要去改變物質，就要靠肉身來做。</p>
        <p>H：物質不也是頻率嗎？ </p>
        <p>O：不是，物質是變重的東西，變重是為了要讓體驗比較完整、比較好玩，你懂我的意思嗎？當他變得那麼重你就不太可能靠光就改變他，除非他自己本身的自由意志的頻率提高。</p>
        <p>H：這也是秩序的規則？ </p>
        <p>O：是，如果他這麼容易改變就不是肉身了，他就也是光體了。</p>
        <p>H：你還有什麼想分享的嗎？在這樣的感受跟體驗中。 </p>
        <p>O：我覺得還是要看到肉身的價值，因為有些事在肉身的層次才能做，但意念要在好的層次跟光體才能連結。有些事雖然已經物質化，就靠肉身去達成。</p>
        <p>H：不要想著都靠意念就可以... </p>
        <p>O：對，意念化作實相，不是憑空出現像飛碟那樣，那是在很高頻率的地方才是這樣。如果在地球，意念化作實相的過程是透過肉身，透過人的意識的轉變之後，他的行為會改變，所以肉身去改變。他要透過肉身去達成。</p>
        <p>H：我了解你的意思，但不是一直有好的光傳輸進地球嗎？ </p>
        <p>O：對，目前的地球還是一個物質的地球，它一定是振動頻率進來，這是為什麼需要這麼多自願者用投胎的方式進來（不管是人、動植物等等），因為不投胎進來就 沒辦法產生影響。如果不投胎，就是在外面提供支援，但他不能直接去改變那些物質，所以兩種都需要，肉身的要知道你不孤單，有很多還沒投胎進來的光體可以提 供支援，在上面的光體要知道有肉身跟你合作。</p>
        <p>H：所以有肉身的人，如果他希望自己可以做到什麼，他可以用意念去連結得到好的啟示，知道怎麼做是合適的。 </p>
        <p>O：對，在上頭的旁觀者清，飛在上面看比較清楚，但在下面的行動力比較強，能夠直接改變物質。人可以透過連結讓自己頻率提高，跟上面的合作。</p>
        <p>H：要怎麼知道是這樣的時候，還是可能是盲目的、意識在一廂情願？ </p>
        <p>O：那個很清楚，不可能騙人，因為他自己完整就可以分辨。</p>
        <p>H：在不完整的時候就不能分辨？ </p>
        <p>O：就很難分辨，因為你不知道哪些是你想像創造的，所以就是無畏無懼，那個老先生講的第一步很重要。</p>
        <p>H：可以怎麼學習無畏無懼？ </p>
        <p>O：改變生活方式，變成一種無畏無懼的生活方式。</p>
        <p>H：就像你說呼吸時當自己已經死了？ </p>
        <p>O：當自己已經死了的意思是把你的小我放掉，因為事實上你肉身沒有死，你肉身還活得好好的，所以當你把小我放掉，身體就會找到他自己好的規律，肉身有肉身的自由意志，他不是被人完全決定，所以當把小我放掉，你會聽到肉身的自由意志產生什麼節奏，這樣的意思。</p>
        <p>H：把小我放掉就是無畏無懼的學習。 </p>
        <p>O：對。</p>
        <p>（連結SC）</p>
        <p>H：為什麼看到這一世？ SC：因為要無畏無懼。</p>
        <p>H：這一世，看到無畏無懼的過程？ SC：對。</p>
        <p>H：可以多說一些嗎？ SC：就是要這樣的無畏無懼。</p>
        <p>H：如果他的肉身已經直接變成光體，為什麼現在又來到這裡？ </p>
        <p>SC：應該這麼說，這是屬於銘印下的前世，不是他自己靈魂直接經驗過的，但這沒有關係，他需要看到這個。</p>
        <p>H：了解這個的發生，這是他現在需要的。 SC：對。</p>
        <p>（後續私人問題清單略過）</p>
        <hr/>
        <p>這是2014年10月上旬進行的QHHT，因為再過一個多月即將生產，有很長一段時間不會做量子催眠的服務，正想著這些，這次的QHHT就傳達回到自我完整的直接與重要，覺得宇宙真是太好了，讓學習服務的人一起在這過程被SC照顧著，一起在這“完整”裡感受，帶著這份平靜與愛，回到生活去應用、活出來。</p>
        <p>經體驗者同意、開始著手打文字檔這天，正好與朵洛莉絲老師過世（美國時間）是同一天。心裡的感受，對照文字檔的訊息，感覺宇宙一直在工作著、安排著...很...博大？（不知道怎麼形容這感覺）</p>
        <p>O 的問題清單，雖然覺得SC的回應很好、或許有其他人會有收獲，但在雙方共識下決定留給當事人，不特別貼出來。畢竟每個人、每個時刻需要的不盡相同，就連同一人，SC每次給的建議也不見得一樣。世界上充滿各種資訊、訊息，就讓我們回到當下的呼吸吧，這也是我對自己的期許^^</p>
      </p>
    </div>
  </div>
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
</body>