p.start
	|回溯分享-夢的創造者


p.start
	|體驗者：O
	br
	|引導者：Hsinyi Chiu（H）
	br
	|潛意識：SC


p.start
	|回溯畫面：


p
	| O看見這是一片海，有陽光照在海上，雲的影子在海面上移動，閃閃發亮。
	| 陽光照在海上，很溫暖。

p
	| H: 多說說這個地方
p
	| O: 一個小竹筏，上面有旗子， 我躺在竹筏上，很渴，我在漂流。水用完了，很渴。

p
	| H: 你周圍還有什麼呢？
p
	| O: 就是一望無際的大海

p
	| H: 你在大海上漂流
	br
	| 覺得很溫暖
	br
	| 你的身上穿什麼衣服呢？

p
	| O: 穿著一件褲子
	br
	| 上半身是赤裸的

p
	| H: 當你多說一些的時候
	br
	| 周圍的景像會更清楚

p
	| O: 我是一個非洲人

p
	| H: 你感覺自己是男性還是女性，是年輕還是年老
p
	| O: 男性，年輕的

p
	| H: 你可以說說看周圍的一切
p
	| O: 奴隸市場，一個販賣奴隸的市場

p
	| H: 可以多說一些嗎？
p
	| O: 有人拿著鞭子
	br
	| 我被賣掉了，賣去很遙遠的地方
	br
	| 
	br
	| 那是一個大船
	br
	| 從上面跳下去，跳到海裡
	br
	| 遇到了一個小竹筏
	br
	| 很渴
	br
	| 我自己做了一個竹筏
	br
	| 帶著竹筏跳到海裡去，離開大船
	br
	| 太陽降到海面以下
	br
	| 周圍都是寒冷的風
	br
	| 我到不了岸上

p
	| H: 你感覺到什麼？
p
	| O: 夜晚像是死神的毯子一般蓋在我的身上
	br
	| 我的意識逐漸模糊
	br
	| 我覺得我變得很輕很輕
	br
	| 我飄浮在空中
	br
	| 看到竹筏上有自己的身體

p
	| H: 我們已經來到觀看這世的最後一天
	br
	| 你不會有任何身體上的感覺
	br
	| 你可以多說說你看到的這些
p
	| O: 我覺得我自己在海洋上面得到了解脫
	br
	| 我的生命結束了
	br
	| 但是我的意識變得很自由

p
	| H: 你離開了你的身體
	br
	| 這一世已經結束了
	br
	| 你還看到些什麼
p
	| O: 看到一個黑黑的通道
	br
	| 在我的上方
	br
	| 那是要把我吸進去的
	br
	| 我覺得回到這個通道可以回到遙遠的家

p
	| H:你學到什麼？
p
	| O: 自由。
	br
	| 不管周圍有什麼樣的鎖鏈或存在，但是我毅然決然的掌握自己的命運，說要跳的時候就跳下去，沒有猶豫。
	br
	| 我創造出屬於自己生命最後的風景，最後的體驗，沒有束縛的。

p
	| H: 那些人要把你帶走，你跳下去，做自己，自由的體驗
p
	| O: 對，我的身體慢慢的越來越輕，好像溶解一樣
	br
	| 我的意識很輕很輕，
	br
	| 好像我就是世界，世界就是我，沒有別人

p
	| H: 我覺得我整個人在光裡面，完全被包覆著，身體的疲累和痛苦都結束了，全部都治療好了，我好像得到一個全新的身體。我覺得無比的自由。

hr

p
	| O: 我現在好像在一個肚子裡面

p
	| H: 感覺看看你的周圍，聽聽看，摸摸看
p
	| O: 我覺得我好像包覆在一個肚子裡面，感覺到一條長長的臍帶，我漂浮在水裡

p
	| H: 可以多說說你在這邊的感覺嗎
p
	| O: 我的肺是整個和源頭連結在一起的，臍帶是讓我完全不需要呼吸。
	br
	| 我覺得我是來自愛的，也是帶來愛的，也是創造愛的。我在愛之中。

p
	| H: 這讓你感覺如何呢？
p
	| O: 我覺得很放鬆
	br
	| 後來臍帶被剪斷了，但還是跟源頭一直連結。

p
	| H: 你感覺得到。
p
	| O: 我的肺還是跟源頭連結，然後肚臍跟臍帶已經斷掉了。

p
	| H: 你感覺臍帶是跟什麼連結的呢？
p
	| O: 臍帶是跟大的營養，大的溫暖連結

p
	| H: 你感覺肺跟源頭的能量連結，肺是怎麼跟源頭連結的呢？
p
	| O: 肺就泡在很有能量的地方，然後我覺得我就像天使一樣。
	br
	| 我感覺到聲音，好像是呼吸的聲音，跟人的身體貼在一起，完整的包覆在裡頭
	br
	| 我感覺跟一個媽媽的身體貼在一起

p
	| H: 可以多說一些這些發生嗎？
p
	| O: 我覺得我被包住，很溫暖，很放鬆，好像可以就這樣睡著。

p
	| H: 在這裡做什麼，發生什麼事
p
	| O: 我在喝奶，什麼事都不做，就是喝奶，我覺得被滋養。

p 節錄

p
	| H: 還有呢？
p
	| O: 我覺得一動也不能動，我不知道外面發生什麼事，但被抱的緊緊的

p
	| H: 你可以看看你的周圍嗎？
p
	| O: 這裡空氣不好，好像是一個山洞，一個洞穴。

p
	| H: 你感覺這裡是熱的冷的．．．
p
	| O: 黑暗的，好像是一個防空洞

p
	| H: 聽聽看周圍的聲音
p
	| O: 有很多人微弱的呼吸和哭聲，好像沒有食物了，什麼食物都沒有了，大家都沒有

p
	| H: 大家在做什麼
p
	| O: 大家都躲在防空洞，不敢出去

p
	| H:  你感覺這邊人是多的或少的
p
	| O: 很多。
	br
	| 很小的地方，很多的人，大家都沒有食物了。
	br
	| 我的身體還是很放鬆

p
	| H: 你感覺抱著你的人是男性女性
p
	| O: 是女性，但我感覺她越來越虛弱了。

p
	| H: 大家都在防空洞

p
	| O:大家都死掉了，有蟲子在爬，有蒼蠅，飛到我的耳朵上，飛到我的頭上

p
	| H: 發生什麼事
p
	| O: 大家都死了，飢餓，空氣不好

p
	| H: 有人出去嗎？你感覺你在哪裡呢？
p
	| O: 沒有人出去，這裡已經出不去了。

p
	| H: 一個一個的人死去了
p
	| O: 嗯。我也要死去了。

p
	| H: 帶著你的人呢？
p
	| O: 她也死去了

p
	| H: 你感覺如何？
p
	| O: 我覺得我的肺跟源頭還是連上線的，我覺得很放鬆，慢慢的我又回到一個小光球

p
	| H: 你離開了身體嗎？
p
	| O: 對

p
	| H: 這個小光球可以看見周圍的一切嗎？
p
	| O: 可以，這是一個山洞

p
	| H: 你可以多說一些你看到的...
p
	| O: 有很多很多很瘦的人，躲在山洞裡面，要躲戰爭跟空襲

p
	| H: 你站在更高的地方看見這一切，發生了什麼事？
p
	| O: 戰爭，饑荒，很多人在受苦

p
	| H: 你看到的這個地方還發生了什麼
p
	| O: 有很多蒼蠅，死去的人有不同的表情，有的人看起來很痛苦，虛弱，衰弱
	br
	| 可是小嬰兒看起來很安詳，非常的安詳。

p
	| H: 你是指你原本的身體嗎？

p
	| O: 對
p
	| H: 你感覺她為什麼很安詳

p
	| O: 因為一直都跟源頭是連結的。
p
	| H: 你可以多說一些嗎？

p
	| O: 就是，我們在這個世界上感受到的就像夢一樣，但最真實的是跟源頭連結，就算靈魂離開了身體，這個連結也不會斷掉
p
	| H: 所以小嬰兒雖然在這個戰爭、飢荒的地方，但他一直都跟源頭連結，是安詳的。

p
	| O: 是
p
	| H: 這一生的學習、目的

p
	| O: 我覺得是全然的愛。
	br
	| 沒有任何的雜質，還有全然的放鬆，對命運既不抵抗，也沒有生氣，而是一種全然的接納跟放鬆，去愛著生命跟生活。

p
	| H: 可以多說一些關於全然的愛嗎
p
	| O: 就是沒有任何的批判，對生命就是全然的接納、去愛

p
	| H: 你覺得你這一生學到了嗎？
p
	| O: 我覺得我學到了全然的愛

p
	| H: 這一生的目的
p
	| O: 體驗沒有任何的行動，但是在愛裡面就是完整的，無所懼，無所求

p
	| H: 因為嬰兒的身體比較沒有自己的行動力嗎？
p
	| O: 但是就算有行動力也不需要，在這個場景也沒有用。無所懼，無所求本身就是很有力量的。

p
	| H: 你認為這一生的目的是無所懼，無所求
p
	| O: 對。

p
	| H: 因為就像一場夢一樣
p
	| O: 嗯

p
	| H: 你感覺你這一生的學習和目的，與源頭連結...
p
	| O: 一種沒有斷開的感覺，就是說，其實不需要很刻意的去做什麼連結，因為從來就沒有斷開過，
	br
	| 會斷開是因為我們把夢境當成現實，很著意的覺得自己很受苦，那裡很痛苦，或很生氣，忘記我們都是在源頭裡面。

p
	| H: 不管是在戰爭饑荒還是在哪裡，都是一場夢境，我們都是與源頭連結的
p
	| O: 對。

p
	| H: 當你和源頭連結，可以多說一些你的感受嗎？
p
	| O: 我的身體好像整個，整個背，整個手，整個腳，都是光。

p
	| H: 你感覺光是怎麼連結你呢？
p
	| O: 是從頭頂下來，到脊椎，到身體每個部位，整個人被包覆在光裡面。

p
	| H: 在光裡的感覺怎麼樣？
p
	| O: 無所懼，無所求，很圓滿。一種圓滿的感覺。

p
	| H: 當你是一個小嬰兒的時候，你與源頭連結，感到非常圓滿
p
	| O: 對

p
	| H: 那你覺得你離開了身體以後...
p
	| O: 我覺得我要回去跟光合一了

p
	| H: 你看到的周圍是什麼呢
p
	| O: 有很多的飛船，銀河，閃動的非常快，亮白色，藍白色，很多的星體，轉得非常快
	br
	| 我在飛船裡，這個飛船一直在旋轉

p
	| H: 這個飛船是怎麼樣的呢？
p
	| O: 很大的飛船

p
	| H: 你周圍還有什麼？可以到處探索看看
p
	| O: 這個飛船動不了了，他轉得很快後就...好像被隕石還小行星撞到了
	br
	| 飛船被撞倒後就整個轉得非常快，那些星星看起來就在天空中旋轉
	br
	| 直到我們降落後就不在動了
	br
	| 因為飛船不動了
	br
	| 飛船降落在沙漠裡

p
	| H: 你感覺你現在有身體嗎？
p
	| O: 有

p
	| H: 有穿衣服或身體是怎麼樣的
p
	| O: 我覺得我瘦瘦高高，穿著黑色太空服，我慢慢走出飛船

p
	| H: 飛船還有別的存在或像你一樣的嗎？
p
	| O: 還有另外兩個同伴
	br
	| 飛船不會動了

p
	| H: 你們有方法可以處理嗎？
p
	| O: 沒有，但我們可以在這裡生存下去

p
	| H: 你們的飛船原本是要去哪裡發生什麼事呢？
p
	| O: 本來是要去一個星球，有很多光的星球。

p
	| H: 為什麼你們要去有很多光的星球？
p
	| O: 那裡離源頭比較近，我們直接用飛船去接收源頭的能量。

p
	| H: 你可以多說一些你們原本要做的事情嗎？
p
	| O: 嗯－－但是隨著飛船墜毀了，這個計畫就不重要了。現在的重點是怎麼在這個星球上生存下去

p
	| H: 那你們做了些什麼呢？
p
	| O: 我們用意念改變這個星球

p
	| H: 你們是怎麼做的呢？
p
	| O: 我們很認真的去思想，去想這個星球有水，有植物。

p
	| H: 當你們這樣去想，有水，有植物...
p
	| O: 水就來了。

p
	| H: 你可以看見它是怎麼發生的嗎？
p
	| O: 可以，因為我們的飛船有一個部分可以創造實相，這個部分還沒有壞掉。

p
	| H: 你們的飛船有一個這樣的功能
p
	| O: 對，可以創造實相，我們如果意念很清楚的去思想，我們就會看到它變成真的。

p
	| H: 這是裝置在飛船裡的東西嗎？
p
	| O: 是一個很大很大的能量的吸收器，他會把源頭的光轉換成真實世界上的物質或能量。

p
	| H: 它是一個接收器
p
	| O: 對

p
	| H: 接收源頭的光，然後你們用意念去顯化這個星球要有的東西
p
	| O: 嗯

p
	| H: 你們還做了些什麼，感覺到什麼？
p
	| O: 我感覺喉嚨被掐住了，呼吸不順暢，這個星球的住民攻擊我們。

p
	| H: 發生什麼事了？
p
	| O: 他們看到飛船墜毀非常的害怕，看到我們出來了就攻擊我們，用手掐住我們的脖子，用石頭做的長刀刺我們

p
	| H: 如果你感覺到任何身體的不適，我會移除這個現象，讓你可以繼續描述發生了什麼事，你不會有任何身體上的感覺，你可以說說是什麼情況？
p
	| O: 他們把我們的喉嚨刺穿了，我們全部都被殺掉了。

p
	| H: 你還看到什麼，發生什麼？
p
	| O: 這個太空船有很大的能量，它讓我們有一個新的身體，又活過來了。

p
	| H: 你們的身體又好了？
p
	| O: 它給我們一個新的身體，從源頭的光創造出來的新身體。

p
	| H: 你們的意識直接進入到新的身體裡？
p
	| O: 對。然後那些住民就很害怕，他們就跪下來拜我們，好像我們就是神一樣。
	br
	| 我們復活了，這件事讓他們覺得很可怕，就把我們當成是神。

p （感覺周圍環境、亮度、冷熱）

p
	| H: 你感覺你的身體是什麼樣的呢？
p
	| O: 沒有性別，很高

p
	| H: 多感覺一下你的這個身體
p
	| O: 穿著灰色的太空衣，我的眼睛大大的像寶石一樣，有兩顆，臉很瘦很瘦。
	br
	| 沒有頭髮，身體灰灰的，眼睛是黑色的。

p
	| H: 你們現在有了一個新的身體，這些人把你們當成是神，你們在這裡做了什麼？
p
	| O: 我們在這個地方生活下來了，跟這裡的人吃一樣的食物。

p
	| H: 你們需要吃食物嗎？
p
	| O: 對。

p （重要的日子）
p
	| O: 我在進入一個女性的身體，我變成一個男性，進入一個女性的身體裡面。

p
	| H: 你已經不是原本的身體？
p
	| O: 我還是原本的身體，但我變成男性，外星人的身體是可以變化的。

p
	| H: 發生什麼事？
p
	| O: 這個部落的酋長認為我們是神，他決定把他的女兒給我們，變成神的妻子

p
	| H: 你周圍發生什麼事？
p
	| O: 我們在一個黑暗的房間做愛。

p
	| H: 你感覺如何？
p
	| O: 感覺很有一種原始的快感。

p
	| H: 他把他的女兒送給你們三個，是這樣嗎？
p
	| O: 不是，我們另外兩個夥伴時間到了，離開了，他們結束了他們的生命，剩下我一個。

p
	| H: 你為什麼選擇留下來呢？
p
	| O: 因為我的生命還沒有結束，另外兩人的生命結束了。

p
	| H: 你可以多說一些你的感覺嗎？
p
	| O: 在女人的身體裡面，跟她結合，可以感覺到她在我懷裡喘息，很用力地在她體內衝撞。
	br
	| 我覺得有回到家的感覺。雖然我已經離開我的星球很遠了，但是有一種這裡就可以當作我的家的感覺。

p
	| H: 在你跟這個女性結合的時候？
p
	| O: 對

p
	| H: 你感覺這裡就可以是你的家了
p
	| O: 對


p （另一個重要的日子）
p
	| O: 我感覺我的身體已經要結束了，我被埋起來了。
	br
	| 我覺得不虛此行。
	br
	| 我看到新的夥伴跟家人（這個星球的住民），他們在唱歌祝福我一路好走，然後把我的身體埋起來。

p
	| H: 你在這個星球做了什麼，感覺你在這裡的家人、經歷
p
	| O: 我覺得我們共度了一段美好的時光。
	br
	| 雖然太空船壞了，但是我也不後悔來到這個星球。

p （這一生的學習、目的）
p
	| O: 學到隨遇而安，不管在什麼環境都可以隨遇而安。
	br
	| 感受組織一個家庭，扎根在這個星球上。

p
	| H: 可以多說一些嗎？
p
	| O: 顯化自己，讓自己變成一個男性，做這個星球的人的事情，吃一樣的東西，過一樣的生活，生養小孩，打獵，跟這個星球的人做一樣的事情。

p
	| H: 你的顯化來自你的自由意志
p
	| O: 對

p
	| H: 隨遇而安的度過這一生
p
	| O: 對

p
	| H: 還學到意念的力量是不可思議的大，可以化解衝突，讓受傷和死亡的人解脫，創造食物跟水，這些都是意念的力量。
p
	| O: 透過顯化的意念，心想事成。

p
	| H: 可以多說一些，怎麼去顯化這樣的意念嗎？
p
	| O: 就是要很專一一一注，專一一一注。

p
	| H: 很專注
p
	| O: 很認真去思想

p
	| H: 你把這個很專注的意念和思想，也教導給這個星球的家人嗎？
p
	| O: 對。只要意念在這種『專一一一注』的狀態，就可以顯化很多東西。

p
	| H: 可以多說一些你怎麼教導嗎？
p
	| O: 唱歌。一起唱歌，還有吟唱，把專注的意念傳達出去。

p
	| H: 一邊唱歌，一邊想著要傳達的？
p
	| O: 對。

p
	| H: 你可以多說一些在這邊的創造和教導嗎？在你來之前，這邊的人...
p
	| O: 比較暴力。但他們開始唱歌之後，變得比較和平。

p
	| H: 你加入他們，帶著他們唱歌
p
	| O: 對

p
	| H: 專注的方法就是用吟唱的方式？
p
	| O: 對

p
	| H: 那要怎麼知道這樣的方式就可以顯化的呢？
p
	| O: 因為它確實很快就會顯化出來東西

p
	| H: 就是用唱歌的方式？
p
	| O: 對

p
	| H: 你可以多說一些怎麼教導他們的嗎？無論是大人、老人、一切
p
	| O: 就是要從聲音開始，宇宙的聲音，像這樣
	br
	| 嗡（陸續發出三個不同音調的嗡）
	br
	| 不同頻率的聲音就會顯化出不同的東西來。

p
	| H: 在發出聲音的時候，想要創造出的東西？
p
	| O: 對。

p
	| H: 所以當你離開身體時，他們用歌聲歡送你
p
	| O: 對，我感覺很幸福。

p
	| H: 當你離開身體後，你去到哪裡呢？
p
	| O: 我覺得我又回到源頭了。
	br
	| 光，很多很多的光，白光。

p
	| H: 你在光的哪裡呢？
p
	| O: 前面，然後我的背都是光，現在我回到光的中心，前後左右都是光

p
	| H: 在源頭？
p
	| O: 對。
	br
	| 感覺光充滿我的全身，我漂浮在光當中

p
	| H: 你還感覺到什麼？
p
	| O: 感覺到光環，光圈，很多很多的光

p
	| H: 是個別還是整體
p
	| O: 我們個別回到光里，然後成為一個整體

p
	| H: 這裡有什麼變化？
p
	| O: 沒有，就是光聚合，變化，閃爍
	br
	| 光束，光圈，很多不同的光
	br
	| 他們都是白色的光

p
	| H: 你們之間有什麼不同嗎？
p
	| O: 有啊，有長的，圓的，扁的，直的
	br
	| 因為我們的自由意志想要顯化成不同的形態
	br
	| 在源頭也可以



