h1
	| 量子催眠回溯

div.know
	p
		|兩篇量子催眠回溯療癒（QHHT）逐字稿
		br
		|與有緣人分享，
		br
		br
		|再次強調每個人都是獨一無二，
		br
		br
		|你有你正在尋找的一切答案。

	h3 QHHT是什麼？
	
	p
		| QHHT是指量子催眠回溯療癒(Quantum Hypnotic Healing Therapy)
		br
		| 是由美國一位資歷長達四十五年的資深催眠治療師Doreles Canon研發
		br
		br
		| 幫助案主藉由回溯前世和連結源頭，解除今生的問題與困擾，並進一步有效療癒個案各種生理上的疾病。

	h3 QHHT事前準備

	p 要先準備好心情
		br
		| 給自己五到六個小時的空白時間
		br
		br
		| 並先思考目前生命中重要的問題，寫出一個問題清單
		br
		| 在訪談的時候，會在意識上澄清與聚焦
		br
		| 在催眠回溯的時候，這個問題清單會被拿來問自己的潛意識

	h3 QHHT進行方式
	p 訪談的部分大約有兩到三小時
		br
		| 催眠的部分大約有一個半小時到兩個小時
		br
		| 加起來大約五到六個小時
		br
		br
		| 所有的答案都是由您自己的潛意識說出
		br
		| 並會留存完整的錄音檔，在結束後可以隨時回顧
		br
		br
		| 對身心來講會是一個非常有力量的重整 

	h3 QHHT引導者聯絡方式
	p
		a(href="mailto:Hsinyi.ok@gmail.com") 1. Email to: Hsiyin Chiu
	p
		a(href="https://www.facebook.com/%E5%AE%87%E5%AE%99%E8%8A%B1%E5%9C%92-251816368263432/", target="_blank") 2. 聯絡宇宙花園出版社