h1
	|量子催眠回溯 {{test}}

h3
	|Quantum Hypnotic Healing Therapy
h4
	|Orignally invented by Doreles Canon

div.know
	p
		|此兩篇量子催眠回溯療法（QHHT）逐字稿與有緣人分享，
		br
		|再次強調每個人都是獨一無二，
		br
		|你有你正在尋找的一切答案。
		br
		|我們與愛一直都是連結著的，一切祝福：）

	p
		|*逐字稿內容皆經當事人同意分享。
	p
		|*欲瞭解量子催眠回溯療法系統，請上創始人
		a(href = "http://www.dolorescannon.com/")
			|朶洛莉絲
		|網站，
		|或閱讀宇宙花園出版之朵洛莉絲著作，包括《地球守護者》、《三波志願者與新地球》、《迴旋宇宙》等書，
		|以及朶洛莉絲女兒茱莉亞所著的《靈魂在說話》</p>
	p
		|*如有身心病痛困擾者，
		br
		|建議先閱讀《靈魂在說話》與自我對話。
	p
		|有意體驗量子回溯催眠療法，請直接聯絡宇宙花園出版社，由出版社進一步提供台灣服務者名單。
