h1
	|量子催眠回溯 {{test}}

h3
	|Quantum Hypnotic Healing Therapy
h4
	|Orignally invented by Doreles Canon

div.know
	p
		|兩篇量子催眠回溯療法（QHHT）逐字稿
		br
		|與有緣人分享，
		br
		br
		|再次強調每個人都是獨一無二，
		br
		br
		|你有你正在尋找的一切答案。