p
	| 量子催眠分享：宇宙的秩序
p
	| 日期：103年3月下旬
p
	| 體驗者：W 
p
	|引導者：Hsinyi Chiu(H)

p
	| 潛意識：S

hr

p
	| W在外太空，在飛碟裡觀察地球。

p
	|H：發生了什麼事？
p
	|W：發生擾動，我們在這裡觀察。
p
	|H：飛碟裡除了你，還有其他的存在嗎？ 
p
	|W：有。
p
	|H：可以多說一些你們要做的事情嗎？ 
p
	|W：沒有什麼特別的，我們只是發現發生擾動，所以觀察。

p
	|H：擾動是什麼意思？ 
p
	|W：擾動就是擾動。
p
	|H：是指比較浮亂嗎？ 
p
	|W：就是沒有在非常平順的秩序底下運轉，這就是擾動。
p
	|H：為什麼你們在這裡觀察？有其他存在請你們來觀察嗎？ 
p
	|W：因為有擾動，我們就來了。
p
	|H：從別的星球來嗎？從哪裡來到這裡觀察地球？ 
p
	|W：不是。我們從不同的次元來。
p
	|H：你們彼此間來自不同的次元？ 
p
	|W：不，我們從同一個地方來，但我們跟地球不是在同個區裡。
p
	|H：那個次元有星球嗎？ 
p
	|W：不需要星球。
p
	|H：那你們怎麼從那裡過來？ 
p
	|W：我們有飛碟，在那個地方，可以重新組織物質，把它變成不同的東西，所以我們不需要處在同一個星球上，我們不需要在星球上建立工廠，完全不是這樣。
p
	|H：你們直接把能量轉換成需要的形態？ 
p
	|W：我們把能量跟物質轉換成需要的形態，然後就來了，就可以到宇宙任何一個地方。
p
	|H：你們平常存在時都在做什麼？ 
p
	|W：我們在秩序之中，我們不需要特別做什麼，你知道，當你說做什麼的時候，通常就是你想要違反一個秩序，我們沒有要違反秩序，我們在秩序之下。
p
	|H：所以你們有的時候是沒有形體的，需要的時候就可以用能量和物質產生形體？ 
p
	|W：可以這麼說。對。
p
	|H：現在在飛碟裡，你們有形體嗎？ 
p
	|W：可以是有也可以沒有，看需不需要。
p
	|H：在這樣的次元，你們這樣的狀態，怎樣的文字是適合的描述？ 
p
	|W：這是一個充滿秩序的世界。
p
	|H：你們彼此之間有個別的意識嗎？ 
p
	|W：個別？可以說有。但我們中間的整合是很有秩序的。
p
	|H：怎麼整合？ 
p
	|W：連在一起。
p
	|H：可以有個別的經驗，也可以連在一起整合？ 
p
	|W：對。因為如此的有秩序才可以去凝聚物質跟能量，創造出實體來，某種程度來講，我們就是造物者。
p
	|H：你們在那個次元感覺到地球的擾動？（對。）有一部分的存在想要過來看看，是這樣嗎？
p
	|W：當你說想要的時候，就牽涉到一些違背秩序的意念。我們應該過來看看。
p
	|H：「應該要過來看」，這個措辭就沒有違反秩序，因為秩序就是應該要過來看？ 
p
	|W：是的。在秩序裡，我們只有應該，我們沒有特別的意圖。
p
	|H：你們有感受嗎？
p
	|W：我們不需要，我們是秩序。當然我們具有感知的能力，但我們感知的方式，或者說它跟你們地球人說的感受是很不一樣的。我們可以感覺到一些情緒或者擾動，這些都有，但那跟地球人的感受是不同的。
p
	|H：你可以多說說那個次元的一切嗎？你感覺到的、可以表達的。 
p
	|W：一切都是很有秩序的。應該說一切都是秩序，可以這麼說。
p
	|H：那邊有星球或是物質... 
p
	|W：沒有。星球是被我們創造出來的。
p
	|H：（你們）是像太空中的氣體那樣的能量存在嗎？ 
p
	|W：不是，是另一個次元。能量也是我們所整合或者運用的媒材。如果你要說媒材也好。
p
	|H：你們可以有形體，也可以沒有，你們的存在就是秩序。 
p
	|W：對。
p
	|H：不需要有土地啊之類的… 
p
	|W：都不需要，那些東西都是創造出來的，我們不需要。
p
	|H：你們就是存在那個次元裡？ 
p
	|W：我們在那邊演化跟創造。
p
	|H：如果你們有的離開去體驗，會有其他的進到這次元裡嗎？
p
	|W：這麼說是不對的，應該是說，在這裡面，有一些部分他希望將自己具體化，而這個具體化是比較長的一段時間，而他應該把自己具體化這麼長的一段時間，他就不應該能夠維持原本的創造力。
p
	|H：他要做一個選擇？
p
	|W：也不用選擇，他就是很單純的就去做了更有距離的具體化。在飛碟裡就是比較沒有距離的具體化，因為隨時都可以回到沒有形式的情況，但如果要變成一個人或 野獸什麼的東西，就是距離比較遠的具體化，距離比較遠的具體化，它會喪失跟秩序完全的連結，但它可以產生多樣性，這些東西在我們的詞彙裡，稱之為自由意志。我們想要透過自由意志，來使得這世界的演化有更豐富的可能。
p
	|H：透過自由意志來使演化有更豐富的可能？（對。）所以有的去選擇做這樣的體驗？
p
	|W：不是，是有一些部分它應該被設定為具有自由意志，並且暫時遠離造物的、創造的這個秩序當中。
p
	|H：你剛剛說他應該有自由意志，那有的被設定成沒有自由意志嗎？ 
p
	|W：事實上，我們在這個大的造物的創造體裡面，是沒有自由意志的。
p
	|H：因為你們是連成一體的？ 
p
	|W：或者說我們的自由意志是，只有一體的自由意志，而這個自由意志並不是很隨便的，是很有秩序，如果用你們的話來講，是在計算當中。
p
	|H：計算什麼？ 
p
	|W：數學。如果用人類的話來講，是一種數學，對。
p
	|H：所以這跟自由意志無關。
p
	|W：對，一般我們所謂自由意志，是指個體的自由意志，當他們被分派到做個體的自由意志，他就脫離了跟另一個次元的秩序完整的連結，可以這麼說。
p
	|H：那些被派去做自由意志體驗的，要怎麼回到秩序，就是那個，數學的狀態？ 
p
	|W：機會不大。
p
	|H：他直接回到光的、生命的源頭中？
p
	|W：你是說源頭？源頭是我們創作的來源，所以這些自由意志當他變成光，到源頭的時候，在這個創作的管道當中，他們可能變成其他的形體，但他會不會從源頭回到我們整個大體的秩序當中，這件事情我們可以說是，也可以說不是。
	|因為大體的秩序從來就沒有分裂過，而是我們判斷有部分應該要有是屬於比較豐富跟多樣的，所以我的意思是，在不同的次元和宇宙，並不是兩個完全獨立的次元或世界，是在一個大的整體之中的。
p
	|H：你們感覺到地球的擾動，有一部分來到這附近做觀察，這是你們應該做的。 
p
	|W：對，但是我們具體化的過程，就是要從源頭去取得光，具體化。
p
	|H：像材料的組合那樣？（對。）你們從那個次元到源頭取得具體化的.. 
p
	|W：各式的能量或物質，一些材料，然後就具體化了。
p
	|H：如果你們不坐太空船，可以直接成為外太空氣體、能量的形態過去觀察地球嗎？
p
	|W：怎麼說呢，我們可以穿越空間的移動，但我們之所以能夠穿越空間移動，並不是說我們移動得很快，而是我們可以把能量和物質集中在一個地方，然後從那裡出現，是這個意思。
p
	|H：那為什麼還要有飛碟？你們可以直接... 
p
	|W：我們出現在那裡需要有個形體，飛碟這個形體是比較，嗯，容易的。
p
	|H：比成為外太空的氣體觀察地球還要容易？
p
	|W：對，因為飛碟有很多好處，當它具體化有很多好處，它可以飛得很平穩，可以停留在原地不動，它在局部的空間要移動也很快，因為我們並不希望每次的移動都要把物質拆解開來、再重新出現一次這樣。
p
	|H：這會消耗能量嗎？ 
p
	|W：這沒有效率。
p
	|H：你們在這裡觀察地球的擾動，觀察到什麼，是想要做些什麼嗎？ 
p
	|W：我們想要調整參數。
p
	|H：調整參數？可以多說一些嗎？
p
	|W：這個事情牽涉到好幾個變數，它有好多東西可以調整，當然我們不能直接去把這個星球爆破或摧毀掉，這個是很...還沒有必要，也很不好。所以在那麼危險之前，我們可以調整參數，例如要輸送進來的光的方向跟量，這是主要調整的部分。
p
	|H：你們調整參數後，怎麼讓這些光輸送進來？
p
	|W：我們要對於一些輸送...我想要講輸送器，但這可能產生誤會，就是有些訊息的輸送器，可是它不是在你所謂現在宇宙同一個次元當中的，它是屬於另一個次元的東西，有輸送器、過濾器、其他的東西...你可以賦予它們形象，但它們並不完全就是同個次元的東西。
p
	|H：從不同次元傳送光到地球？（對。）那怎麼讓那些地方知道要傳送光？
p
	|W：說「知道」好像有點太意志了，它不是那麼意志的事情，就是個調整，光就進去了。我們還有個目標，是尋找破壞者的來源，因為有些事情是我們本來在計算時，並沒有完全算得很清楚的。
p
	|H：那些擾動跟破壞的來源有關？ 
p
	|W：簡單的說，我們本來的計算裡面，並沒有包含那些自由意志的產物能夠回到更高的次元來進行破壞這個可能性。
p
	|H：更高的次元是指地球嗎？
p
	|W：不，是破壞我們更高次元的那些過濾器...我們本來認為我們是在更高的位置，只有我們自己可以調整這些東西，這些在宇宙中的被造物，是不可能回過頭來調整、破壞這些東西。
p
	|H：你們發現這個情況，然後你們做了什麼呢？ 
p
	|W：嗯...我們正在計算要怎麼做。
p
	|H：他們是機器嗎？有什麼措辭適合他們？有生命嗎？ 
p
	|W：不是機器，有生命，如果用地球的詞彙可以說是邪靈之類的。
p
	|H：他們是被誰製造出來的？ 
p
	|W：也是被我們製造出來的。
p
	|H：你們為什麼要製造... 
p
	|W：我們沒有要製造，應該說，在製造的過程就賦有自由意志，他們在自由意志的演化當中，產生了一些，在我們來說不是很好的結果。
p
	|H：所以這是一個自由意志？
p
	|W：對，但我們本來沒想到在這個自由意志的範圍，還可以產生這麼大的力量，以至於到別的次元去產生破壞，這是我們沒有想到的。我們認為這個實驗應該是在一個限定的範圍內，看起來有些東西超過這個範圍，有些東西要重新處理了。
p
	|H：你們原本以為是在一個限定的範圍內，但現在看來有點過頭了？ 
p
	|W：對。超過了原先限定的範圍。
p
	|H：你們還在討論嗎？ 
p
	|W：不是討論，我們還在計算，我們一直都在計算，計算讓秩序回復的方法。
p
	|H：讓秩序回復...我可以稱那些為破壞者嗎？ 
p
	|W：當然也可以，但他們並不單純只是破壞者。
p
	|H：你們會稱他們為什麼？是超出參數之中的...
p
	|W：不是超出。如果用地球的方式，會稱之為邪靈，因為他們有自由意志，是靈體，為什麼說是邪靈，因為是跟正相反的東西，他們不在秩序當中，他們是超過這個秩序的靈體，超出原先設定應該的秩序。
p
	|H：你們在討論著要怎麼調整這些靈體？
p
	|W：我們不是在討論，我們在計算，因為我們不能夠取消所有的自由意志，那樣實驗就結束了，可是我們在不取消所有自由意志的情況下，還是必須要想辦法使這些靈體產生被限制，這個限制有兩種來源，一種是限制他們的權限，一種就是由別的、好的靈體來改變他們。
p
	|H：可以說得更多一些嗎？
p
	|W：第一種是限制他的權限，限制他無法修改某些東西，可是這部分很顯然沒辦法成功，因為至少在比較低層次的幾個空間，我們沒有辦法限制他們的權限，因為只要一限制，我們同時也會限制到其他好的靈體的權限。
p
	|H：他們在同一個秩序裡。
p
	|W：對，沒辦法有差別，比方說今天你是個邪靈，我就不給你這個權限，你是好的，就給你這個權限，沒辦法。
p
	|H：你說第二種是由其他好的靈體來改變他們，要怎麼改變呢？
p
	|W：透過自由意志，但我們所做的部分是調整一些參數，讓他們的自由意志比較容易從這個方面去實現。
p
	|H：是指調整那些比較不好的靈體的參數？
p
	|W：不是，參數是屬於世界的設定，所以沒辦法有差別待遇，沒辦法個別去調整不好的靈體的東西，但我們可以調整遊戲規則，調整光的輸送，當他們進到地球，或者他們在別的次元跟不好的靈體互動時，會有比較好的基礎，空間比較支持他們，一種優勢。
p
	|H：那現在地球這兩種靈體都存在著？（對。）傳輸著更多的光，進而影響另外那部分？
p
	|W：對，這已經是比較後面的方法了。我們持續觀察，事實上我們一直都在觀察，要以飛碟的方式出現到這裡觀察，是比較特別的時候，有些時候不需要。
p
	|H：地球現在持續有好的光傳送進來？
p
	|W：對，但因為地球是一個自由意志可以發展得很大的地方，所以那些邪靈認為地球是可以拓展他們支配的地方。
p
	|H：他們是雜訊嗎？
p
	|W：不，以地球的方式來講，他們比雜訊還要更邪惡。用我們的話來講，就是更背離秩序，他們會變得扭曲，很不幸的，因為靈魂不死，所以他們不會死亡，他們跟善良靈體的遊戲規則完全一樣。所有的遊戲規則完全一樣。
p
	|H：他們可以選擇提升，這是他們的自由意志，不是嗎？
p
	|W：這是最麻煩的地方，因為有些靈體已經不想做這個選擇了，他認為他在他的定義之下，去獲得更高的勢力，他樂在其中，他認為這樣的判斷對他是好的，所以他就越來越背離秩序。
p
	|H：因此你們讓更多更好的光體進來，希望有所影響？
p
	|W：對，所以我說這是比較後來的方法，本來應該用不到這個方法，最一開始應該調整幾個參數就可以解決這個事情，可是後來我們發現情況有點失控，我們調整過，但在地球這個自由意志很蓬勃的地方，也有很多地方是我們不容易事先計算好效果的，所以本來試圖調整幾個參數就解決這些問題，結果顯然是不如預期的。
	|地球是一個特別複雜而且有自由意志的地方，如果地球沒有那麼多自由意志，那就可以算得很清楚，可是當她很有自由意志的時候，我們沒有辦法算得那麼清楚。
p
	|H：為什麼要讓地球有那麼多選擇？ 
p
	|W：因為這樣才會豐富啊，如果什麼事情我們都可以算得很清楚，我們就不需要去創造世界了。
p
	|H：為什麼要創造世界？
p
	|W：因為我們很無聊。你知道，如果所有事情都算得很清楚，在同一個秩序裡面，他就是一件沒有變化的事情。我們一方面想增加變化，一方面又希望我們所創造的世界跟秩序，不要被毀滅或被扭曲，所以我們希望可以調整一些東西，以至於這個變化是在比較有秩序、良好的前提下進行。
p
	|H：嗯~~毀滅不也是一種秩序嗎？
p
	|W：因為它會讓我們原先的目的被改變或被扭曲。因為本來創造的目的是豐富、變得比較有趣，可是如果這些所謂背離秩序的靈體，把世界變成他們的...
p
	|H：遊樂園？
p
	|W：比遊樂園還糟糕，是支配的場所，把其他靈體變成他們的奴隸，這樣的話，又回到一個沒有變化的情況，比我們原先說的沒有變化的情況更糟。
p
	|H：這些傳輸進來的光，都是用人的形體出現嗎？ 
p
	|W：不全部。有些是光跟能量的形態，或其他的生物、植物，都有。
p
	|H：還有存在是在你們更上面的嗎？ 
p
	|W：沒有，任何有意志的存在，沒有在我們更上面的。
p
	|H：任何有意志的存在？（對。）所以也有無意志的存在？
p
	|W：無意志的存在通常我們不把他們當做生命，它就是能量或物質，或者秩序。這就無所謂什麼上面下面。
p
	|H：你們有一個數量嗎？因為你們有個別性... 
p
	|W：我們沒有數量，也沒有什麼個別性，我們是一個共同的秩序。
p
	|H：但你們可以分成不同的人？（可以。）我有點難以想像，因為人是可以有數量的，你們可以是人，但你們在那個次元沒有數量。
p
	|W：你可以想像，我們跟源頭的能量有很多相似之處，源頭的能量他也可以分散在不同地方，或集合在一起。我們是秩序，我們不是能量，我們比能量還自由，但你可以用源頭的能量做個類比。
p
	|H：懂了。那源頭有自己的生命嗎？ 
p
	|W：有。
p
	|H：源頭也是一個生命？ 
p
	|W：源頭是很大的生命。
p
	|H：我們在地球上的生命是從源頭來的？使用了源頭的元素？
p
	|W：應該是說，當我們在創造自由意志的時候，我們必須要有一個中心，這個中心就是源頭，所以源頭可以說是這個自由意志的，光的中心。
p
	|H：你們的飛碟就是從源頭那邊產生的物質？
p
	|W：對，你也可以說在源頭那邊有些靈體跟我們合作，因為我們需要一些能量和物件才能具體化。
p
	|H：請問，有些人提到新地球，這跟你們觀察的地球有什麼關係嗎？
p
	|W：你說新地球？其實對我們來講，好像沒有這個概念，也就是說，我們希望地球演進的軌道產生改變這是真的，或者不要說是希望，我們應該做點調整，調整之後當然就會跟原本不太一樣。
p
	|H：所以也不一定要用新、舊的語詞來... 
p
	|W：那當然，如果你是地球人，可能會覺得有很大的改變，可是對於一個造物者來講，這個差別沒那麼大。但地球確實會有所改變。
p
	|H：地球會有什麼改變？
p
	|W：如果我們完全都計算的到，這就不是自由意志了。我們只能說大概會有的方向，但會不會實際產生，這件事很多部分是屬於自由意志，不能完全事先設定。
p
	|H：需要由在地球上的生命體，用自由意志去行動？ 
p
	|W：對，就是這個意思。
p
	|H：目的是為了讓地球上的擾亂可以停止或轉變？
p
	|W：是，為了可以恢復成比較好的秩序。另外針對那些邪靈，用地球的話來講就是感化他們，感化這個詞不錯，因為感化就是自由意志對自由意志的動作、觸動。
p
	|H：如果是好的光體在這裡，讓這裡是很安定的，有好的體驗，這樣還會有很多豐富性嗎？（會啊。）但那豐富性裡不就沒有...
p
	|W：應該說，豐富性不應該包含那些不斷降低豐富性的元素。
p
	|H：可是如果人類一直在安穩的生活中，不也是沒有變化嗎？ 
p
	|W：不是，因為他們會持續的創造。
p
	|H：啊，創造就是源源不絕的變化。 
p
	|W：對。
p
	|H：所以重點是創造，他們因為要控制，這樣就會減少變化。 
p
	|W：對。
p
	|H：所以現在這些都還在變化中？ 
p
	|W：對，這是一個過程，我沒辦法預測結果，因為實際上這些都在自由意志的範圍。
p
	|H：有的自由意志希望往好的方向，這樣想的自由意志就會有幫助了嗎？ 
p
	|W：對，就會很有幫助。
p
	|H：但那些擾亂的意志也有他們的自由意志。
p
	|W：所以這是感化和被操控的拉鋸過程。這是量和品質的問題，地球人的自由意志很容易受其他人所影響，所以如果很有很好的自由意志的話，就可以去感化那些扭曲的，相反的如果扭曲的太多了，他們就會把本來好的也扭曲掉。
p
	|H：我們平常可以怎麼做，靜坐？帶著希望地球好的意念，這樣可以嗎？
p
	|W：我相信這是好的，但這個可能只有源頭比較清楚，因為我對自由意志非常不熟悉。
p
	|H：這不是你們創造出來的嗎？
p
	|W：對，但是我們只是用數字去分析而已，源頭會比較了解，最好直接去接上源頭，了解自由意志會怎麼運作。
p
	|H：我們生命體自己去接上源頭，了解什麼時候、怎麼做會是合適的。
p
	|W：對，事實上比較好的啟示都是從源頭來的，不是從我們造物者來的。我們什麼都沒有辦法，應該說我們只是在計算秩序。
p
	|H：你們有情感、死亡嗎？ 
p
	|W：沒有情感，死亡是屬於生命的概念，我們不是生命，沒有死亡可言。
p
	|H：你們在飛碟裡頭還有做什麼其他重要的事嗎？ 
p
	|W：就是這樣，持續觀察，調整參數。
p
	|H：光是源源不絕的嗎？光一直傳輸進來，是從哪裡可以這樣源源不絕的傳送進來？
p
	|W：其實是從源頭來，我們可以調整一些參數，使源頭的光做過濾跟分配。可是主要的問題在於，我們在另一個次元可以做這些過濾跟分配的裝置，但他們也會被攻擊，所以我們認為這些邪靈的發展已經到了很緊迫需要去感化的階段。
p
	|H：邪靈其實是地球二元的說法，如果用你們系統的措辭會是？
p
	|W：用我們秩序的方式去說，就是，他的自由意志是在限制其他自由意志的發展，並且純粹以他自己的目的為目的，去限制其他自由意志發展的變化。
	|這是我們非常不願意看到的，當他有這個意圖，又發展出很高度的智慧跟能力的時候，我們就需要靠兩種策略，一種是限制所有靈體的權柄，另一種是由好的、善良 的自由意志去感化他們，我們現在還在使用第二種策略，如果第二種策略行不通，我們只好用第一種策略，但這是我們非常不願意使用的，因為所有的靈體權柄都被限制了，就好像說當地球不可收拾的時候就要把地球爆掉一樣，這件事會讓我們覺得很難過。
p
	|H：那可以不爆掉，只是限制、調整同一階層的權限嗎？
p
	|W：事實上這個部分非常精微，我們有好幾個權限的設定，在最上面的部分確實是沒有自由意志的靈體可以有權限去做任何改動，但比較下面牽涉到能量、物體層次的部分，他們權限必須要寬一點，否則事情沒辦法發展。
p
	|H：請問一些星球的爆炸或像亞特蘭提斯文明的毀滅是因為類似的原因嗎？
p
	|W：星球爆炸是因為不可收拾的關係，地球亞特蘭提斯文明的毀滅不是這個緣故，應該說，是跟這些靈體有關，但不是因為一發不可收拾的。
p
	|H：靈體不需要去恐懼這樣的靈體...
p
	|W：恐懼可能會增強他們的力量，如果能有力量去改變他們會比較好，因為在這個秩序當中大家都是平等的，所謂的邪靈並沒有比一般的靈有更大的力量，並沒有，大家都是平等的。
p
	|H：了解。嗯，你說你在飛碟裡，但你現在這一生，是在W的身體裡，你為什麼轉變成當人呢？
p
	|W：因為...這麼說吧，是因為這樣做很有趣，你剛剛對話的時候，我都站在秩序的角度去看，可是因為當這些秩序要產生觀察的時候，必須要產生飛碟或具體化，具體化就一定要跟源頭有某種程度的結合或合作，這其實是需要靈體去做這件事，做這件事的靈體當然他也可以之後成為別的形態，比方說去當個人，所以這對於靈體來講，是個很有趣的體驗，可以成為造物秩序者的觀察員的一個經驗。
p
	|H：你從存在是秩序的狀態中，學到了什麼？
p
	|W：我學到第一個是眾生平等這件事，靈體的層次來講都是平等的，第二件事情是，那些所謂的邪靈必須靠善良的靈體去感化、轉變他們，因為造物的秩序沒有辦法去改變其他靈的自由意志。第三件是透過設定秩序，它可以產生很多的影響，其實秩序本身就有它的力量在，除了意念，自由意志的意識之外，秩序、空間本身就有它的力量。
p
	|H：秩序的本質是什麼？你們可以感覺愛嗎？你們也是在愛裡嗎？秩序是在愛的能量中的存在嗎？
p
	|W：秩序就是秩序，你後面問的...非常的複雜，我如果試圖把這個事情講的比較簡單一點的話，因為愛是一個意圖，一個有意向的方向，這個意向是使得一切靈體往一個好的方向、自由的方向、善良的方向去發展，那這個事情確實是在造物的目的，而與之相反的就是那個支配的靈，所以我們可以說造物的目的是愛，這個造物的社群、這個秩序是愛。
	|愛是屬於秩序的一部份，秩序就是愛，你可以說像地球的講法，神就是愛。
p
	|H：所以你們的存在也可以這麼說，秩序就是愛。
p
	|W：是的，秩序就是愛，但因為有自由意志，可能有一部分的自由意志背離了這個部分，所以我們需要去感化他，是這樣的意思。
p
	|H：你從這個經驗中，學到眾生平等、去影響，還有秩序就是愛。 
p
	|W：對。

p
	|(連結SC私人問題清單略過)

